@media (min-width: 320px) and (max-width: 767.98px) {

    .title {
        margin-top: 0!important;
    }
    .section-title h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 48px;
        font-weight: normal;
        margin: 0 0 12px;
        padding: 0 0!important;
    }
    .top-pad-40 {
        padding-top: 0!important;
    }
    .bottom-pad-40{
        padding-bottom: 0!important;
    }
{
        padding-top: 20px!important;
    }
    .quote h3{
font-size: 15px;
    }
    .btn.btn-lg {
        font-size: 15px;
        padding: 7px 26px;
    }
    .page-section {
        padding: 26px 0;
    }


}
@media only screen and (max-width: 767px){
    .navbar-nav .open .dropdown-menu > li > a {
        /* padding: 5px; */
        padding: 0!important;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        /* padding: 5px 15px 5px 25px; */
        padding: 0!important;
    }
}