/******************************************************************************
  Max Width "991px" - Min Width "768px"
*******************************************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .owl-carousel .col-sm-1 {
    max-width: 62px;
  }
  .owl-carousel .col-sm-2 {
    max-width: 125px;
  }
  .owl-carousel .col-sm-3 {
    max-width: 187px;
  }
  .owl-carousel .col-sm-4 {
    max-width: 250px;
  }
  .owl-carousel .col-sm-5 {
    max-width: 31px;
  }
  .owl-carousel .col-sm-6 {
    max-width: 375px;
  }
  .owl-carousel .col-sm-7 {
    max-width: 437px;
  }
  .owl-carousel .col-sm-8 {
    max-width: 500px;
  }
  .owl-carousel .col-sm-9 {
    max-width: 562px;
  }
  .owl-carousel .col-sm-10 {
    max-width: 625px;
  }
  .owl-carousel .col-sm-11 {
    max-width: 687px;
  }
  .owl-carousel .col-sm-12 {
    max-width: 750px;
  }
}
/******************************************************************************
  Max Width "767px"
*******************************************************************************/
@media (max-width: 767px) { 
.owl-carousel .col-sm-1,
  .owl-carousel .col-sm-2,
  .owl-carousel .col-sm-3,
  .owl-carousel .col-sm-4 {
    min-width: 160px;
  }
  .owl-carousel .col-sm-5,
  .owl-carousel .col-sm-6,
  .owl-carousel .col-sm-7,
  .owl-carousel .col-sm-8,
  .owl-carousel .col-sm-9,
  .owl-carousel .col-sm-10,
  .owl-carousel .col-sm-11,
  .owl-carousel .col-sm-12 {
    min-width: 300px;
  }
  .owl-carousel .col-md-1,
  .owl-carousel .col-md-2,
  .owl-carousel .col-md-3,
  .owl-carousel .col-md-4,
  .owl-carousel .col-xs-1,
  .owl-carousel .col-xs-2,
  .owl-carousel .col-xs-3,
  .owl-carousel .col-xs-4,
  .owl-carousel .col-xs-5,
  .owl-carousel .col-xs-6,
  .owl-carousel .col-xs-7,
  .owl-carousel .col-xs-8,
  .owl-carousel .col-xs-9,
  .owl-carousel .col-xs-10,
  .owl-carousel .col-xs-11,
  .owl-carousel .col-xs-12 {
    max-width: 300px;
  }
  /* Padding */
.xs-pad-10{
	padding:10px;
}
.xs-pad-20{
	padding:20px;
}
.xs-pad-30{
	padding:30px;
}
.xs-pad-40{
	padding:40px;
}
.xs-pad-50{
	padding:50px;
}
.xs-pad-60{
	padding:60px;
}
.xs-pad-70{
	padding:70px;
}
.xs-pad-80{
	padding:80px;
}
.top-xs-pad-10{
	padding-top:10px;
}
.top-xs-pad-20{
	padding-top:20px;
}
.top-xs-pad-30{
	padding-top:30px;
}
.top-xs-pad-40{
	padding-top:40px;
}
.top-xs-pad-50{
	padding-top:50px;
}
.top-xs-pad-60{
	padding-top:60px;
}
.top-xs-pad-70{
	padding-top:70px;
}
.top-xs-pad-80{
	padding-top:80px;
}
.bottom-xs-pad-10{
	padding-bottom:10px;
}
.bottom-xs-pad-20{
	padding-bottom:20px;
}
.bottom-xs-pad-30{
	padding-bottom:30px;
}
.bottom-xs-pad-40{
	padding-bottom:40px;
}
.bottom-xs-pad-50{
	padding-bottom:50px;
}
.bottom-xs-pad-60{
	padding-bottom:60px;
}
.bottom-xs-pad-70{
	padding-bottom:70px;
}
.bottom-xs-pad-80{
	padding-bottom:80px;
}
/* Margin */
.xs-margin-10{
	margin:10px;
}
.xs-margin-20{
	margin:20px;
}
.xs-margin-30{
	margin:30px;
}
.xs-margin-40{
	margin:40px;
}
.xs-margin-50{
	margin:50px;
}
.xs-margin-60{
	margin:60px;
}
.xs-margin-70{
	margin:70px;
}
.xs-margin-80{
	margin:80px;
}
.top-xs-margin-10{
	margin-top:10px;
}
.top-xs-margin-20{
	margin-top:20px;
}
.top-xs-margin-30{
	margin-top:30px;
}
.top-xs-margin-40{
	margin-top:40px;
}
.top-xs-margin-50{
	margin-top:50px;
}
.top-xs-margin-60{
	margin-top:60px;
}
.top-xs-margin-70{
	margin-top:70px;
}
.top-xs-margin-80{
	margin-top:80px;
}
.bottom-xs-margin-10{
	margin-bottom:10px;
}
.bottom-xs-margin-20{
	margin-bottom:20px;
}
.bottom-xs-margin-30{
	margin-bottom:30px;
}
.bottom-xs-margin-40{
	margin-bottom:40px;
}
.bottom-xs-margin-50{
	margin-bottom:50px;
}
.bottom-xs-margin-60{
	margin-bottom:60px;
}
.bottom-xs-margin-70{
	margin-bottom:70px;
}
.bottom-xs-margin-80{
	margin-bottom:80px;
}
.single-product{
	margin-bottom:40px;
}
	.page-section{

		padding: 0;
	}
}  
/******************************************************************************
  Min Width "992px"
*******************************************************************************/
@media (min-width: 992px) {
  .timeliner>li {
	min-height: 150px;
	}
    .timeliner>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeliner>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeliner>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }
	

    .timeliner>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
	
	/*Side nav bar*/
	.side-nav-wrapper {
		padding-left: 280px;
	}
	.side-navbar {
		background:rgba(0,0,0,0.8);
		border: medium none;
		border-radius: 0;
		left: 0;
		position: fixed;
		top: 0;
		width: 280px;
		max-width:280px;
		height:100%;
		scrollbar-base-color: #C0C0C0;
		scrollbar-base-color: #C0C0C0;
		scrollbar-3dlight-color: #C0C0C0;
		scrollbar-highlight-color: #C0C0C0;
		scrollbar-track-color: #EBEBEB;
		scrollbar-arrow-color: black;
		scrollbar-shadow-color: #C0C0C0;
		scrollbar-dark-shadow-color: #C0C0C0;
		z-index:999;
	}
	.side-navbar .navbar-nav {
		float: none;
		width: 100%;
	}
	.side-navbar .navbar-nav > li{
		display:block;
	}
	.side-navbar .navbar-nav > li > a,.side-navbar .dropdown-menu > li > a {
		width: 100%;
		text-align:left;
		font-family:Arial;
		text-transform:uppercase;
		font-weight:600;
		font-size:12px;
		letter-spacing:1px;
		border-bottom:1px dashed rgba(204,204,204,0.4);
		padding:0 20px;
	}
	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
		border-color:rgba(204,204,204,0.4);
	}
	.side-navbar .dropdown-menu > li > a {
		padding: 12px 28px;
	}
	.side-navbar .dropdown-menu > li:last-child > a {
		border-bottom:none;
	}
	.side-navbar .navbar-header {
		float: none;
		position:relative;
	}
	.side-navbar .navbar-nav .collapsible .sub-arrow,.side-navbar .navbar-nav .sub-arrow{
		border: 0 none;
		display: inline-block;
		font-size: 0;
	}
	.side-navbar .navbar-nav .collapsible .sub-arrow:after,.side-navbar .navbar-nav .sub-arrow:after{
		content: "\f105";
		font-family: FontAwesome;
		font-size: 14px;
		height: 20px;
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
	}
	.side-navbar .navbar-brand{
		width: 100%;
		margin:20px 0;
	}
	.side-navbar .navbar-brand > img {
		margin: 0 auto;
		width:auto;
		z-index: 9;
		position: relative;
	}
	.side-navbar .navbar-nav > li > .dropdown-menu{
		left:100%!important;
		top:0!important;
		z-index:9999;
	}
	.side-navbar .navbar-nav > li > .dropdown-menu,.side-navbar .dropdown-menu{
		border-radius:0!important;
		-moz-border-radius:0!important;
		-webkit-border-radius:0!important;
		-o-border-radius:0!important;
		-ms-border-radius:0!important;
		border:none!important;
		padding:0;
	}
	.side-navbar .top-contact{
		padding:15px 20px;
		width:100%;
		text-align:left;
		border-bottom: 1px dashed rgba(204,204,204,0.4);
		position: relative;
		z-index: 1;
	}
	.side-navbar .top-contact.link-hover-black > a {
		display: block;
	}
	.side-navbar .top-social-icon {
		width: 100%;
		text-align: left;
		padding-left: 20px;
		padding-top:15px;
	}
	.dark-header .side-navbar .top-contact.link-hover-black > a,
	.dark-header .side-navbar .top-social-icon > a{	
		color:#fff;
	}
	.side-nav-wrapper .testimonails .owl-item .item{
		margin-right:1px;
	}
	.side-navbar.navbar-default .navbar-nav > li > a.has-submenu{
		background:none!important;
	}
	
}
/******************************************************************************
  Min Width "768px"
*******************************************************************************/
@media(min-width:768px) {
    .timeliner:before {
        left: 50%;
    }
    .timeliner > li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeliner > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeliner > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeliner > li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }
    .timeliner > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
	.schedule .tabs .nav-tabs > li,.bakery-menu .nav-tabs > li{
		display:table-cell;
		width:1%;
		float:none;
		border-bottom:none;
	}
	
}
/******************************************************************************
  Min Width "1200x"
*******************************************************************************/
@media (min-width: 1200px) {
  .owl-carousel .col-md-1 {
    max-width: 100px;
  }
  .owl-carousel .col-md-2 {
    max-width: 200px;
  }
  .owl-carousel .col-md-3 {
    max-width: 300px;
  }
  .owl-carousel .col-md-4 {
    max-width: 400px;
  }
  .owl-carousel .col-md-5 {
	max-width: 500px;
  }
  .owl-carousel .col-md-6 {
	max-width: 600px;
  }
  .owl-carousel .col-md-7 {
    max-width: 700px;
  }
  .owl-carousel .col-md-8 {
    max-width: 800px;
  }
  .owl-carousel .col-md-9 {
    max-width: 900px;
  }
  .owl-carousel .col-md-10 {
    max-width: 1000px;
  }
  .owl-carousel .col-md-11 {
    max-width: 1100px;
  }
  .owl-carousel .col-md-12 {
    max-width: 1200px;
  }
	.timeliner>li {
		min-height: 170px;
	}
	.timeliner>li .timeline-panel {
		padding: 0 20px 20px 100px;
	}
	.timeliner>li .timeline-image {
		width: 170px;
		height: 170px;
		margin-left: -85px;
	}
	.timeliner>li .timeline-image h4 {
		margin-top: 40px;
	}
	.timeliner>li.timeline-inverted>.timeline-panel {
		padding: 0 100px 20px 20px;
	}
}
/* ---------- MAX 1199px ---------- */
 @media (min-width: 991px) and (max-width: 1199px){	
	.double-img img{
		max-width:60%;
	}
}
/* ---------- MAX 480px ---------- */
 @media(max-width: 480px){	
	.double-img img{
		max-width:50%;
	}
}
/******************************************************************************
  Max Width "991px"
*******************************************************************************/
@media (max-width: 991px) { 
	/*Animation*/
	.animated {
		visibility: visible !important;
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	
		.top-pad-30 {
    
	margin-top: 0px;
			
}
	div#sticker-sticky-wrapper {
    height: 1px !important;
}
	.fixed{
		background-attachment:initial !important;
	}
	.image-bg {
		-webkit-background-size:initial !important;
	}
	.grid-col-4 .grid-item,
	.grid-col-4 .grid-sizer {
		width:33.3%;
	}
	.grid-col-5 .grid-item,
	.grid-col-5 .grid-sizer {
		width:33.3%;
	}
}
/******************************************************************************
  Max Width "767px"
*******************************************************************************/
@media (max-width: 767px) { 
	.image-bg.content-in {
		background-repeat: repeat;
	}
	.search-dropdown .dropdown-menu{
		min-width:100% !important;
	}
	.search-dropdown .dropdown-menu .navbar-form,
	.search-dropdown .dropdown-menu .input-group,
	.search-dropdown .dropdown-menu .form-control{
		width:90% !important;
	}
	.search-dropdown .dropdown-menu .navbar-form  .form-control{
		padding: 8px 24px;
	}
	.navbar-collapse .navbar-nav{
		padding-bottom:10px;
	}
			.top-pad-30 {
    
	padding-top: 0px;
			
}
	
	header .navbar-form{
		margin:none;
	}
	.search-dropdown .dropdown-menu li{		
		padding:0px 10px;
	}
	#page .page-title-left .breadcrumb{
		right:0;
		position:relative;
		margin-top:10px;
	}
	.grid-col-2 .grid-item ,
	.grid-col-2 .grid-sizer{
		width:50%;
	}
	.grid-col-3 .grid-item,
	.grid-col-3 .grid-sizer {
		width:50%;
	}
	.grid-col-4 .grid-item,
	.grid-col-4 .grid-sizer {
		width:50%;
	}
	.grid-col-5 .grid-item,
	.grid-col-5 .grid-sizer {
		width:50%;
	}
	/* Timeline Blog / Resume */
	.blog.timeliner .timeline-icon {
		left: 0;
		margin: 22px 0 0;
	}
	.blog.timeliner .timeline-meta {
		left: 0;
		margin: 0 0 5px;
		position: relative;
		right: 0;
		text-align: left;
	}
	.blog.timeliner li,
	.blog.timeliner > li.timeline-inverted{
		margin: 0;
		padding: 0 0 30px 100px;
		width: 100%;
		left:0;
	}
	
	.footer_logo_text:before{
		display:none;
	}
	.blog.timeliner  >li.timeline-inverted .timeline-panel:before,
	.blog.timeliner  >li .timeline-panel:before{
	  border: 15px solid transparent;
	  border-right-color: #ccc;
	  left: -30px;
	  right: auto;
	}
	.blog.timeliner  >li.timeline-inverted .timeline-panel:after,
	.blog.timeliner  >li .timeline-panel:after 	{
	  border: 14px solid transparent;
	  border-right-color: #fff;
	  left: -28px;
	  right: auto;
	}
	.owl-carousel .col-sm-1,
	.owl-carousel .col-sm-2,
	.owl-carousel .col-sm-3,
	.owl-carousel .col-sm-4,
	.owl-carousel .col-sm-5,
	.owl-carousel .col-sm-6,
	.owl-carousel .col-sm-7,
	.owl-carousel .col-sm-8,
	.owl-carousel .col-sm-9,
	.owl-carousel .col-sm-10,
	.owl-carousel .col-sm-11,
	.owl-carousel .col-sm-12 {
	  float: none;
	  margin:0px auto;
	}
	#main-slider h1 {
		font-size: 25px;
		line-height: 25px;
	}	
}

/******************************************************************************
  Max Width "480px"
*******************************************************************************/
@media (max-width: 480px) { 
	.grid-col-2 .grid-item ,
	.grid-col-2 .grid-sizer{
		width:100%;
	}
	.grid-col-3 .grid-item,
	.grid-col-3 .grid-sizer {
		width:100%;
	}
	.grid-col-4 .grid-item,
	.grid-col-4 .grid-sizer {
		width:100%;
	}
	.grid-col-5 .grid-item,
	.grid-col-5 .grid-sizer {
		width:100%;
	}
	/* TImeline */
	.blog.timeliner > li .timeline-panel{
		padding:20px;
	}
	.top-up .nav-tabs > li{
		display:block;
		width:100%;
	}
}
.js .menu-toggle,
	.js .dropdown-toggle {
		display: block !important;
	}