@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');


.iconss {
	border: 1px solid gray;
	padding: 15px;
	border-radius: 15px;
}
.btn-dark {
	color: white;
	background-color: #009add;
	border-color: #009add;
}
.modules {
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #d3d3d370;
}
.carousel-item {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.f {
	border: 1px solid;
	border-color: lightgray;
	background-color: #d3d3d370;
}
.hvr-grow-shadow:hover {
	background-color: red;
}
.hvr-grow-shadow:hover p.text-muted {
	color: white!important;
}
.hvr-grow-shadow:hover i.iconss {
	color: white!important;
	border-color: white;
}

p.text-muted {
    font-size: 14px !important;
	    font-family: 'Arimo', sans-serif;
}
.grow-pulse-text p {
    font-size: 14px;
}
blockquote.small-text p {
    font-size: 15px;
}
button.crmbtn.btn.btn-warning {
    margin-top: 5px !important;
	font-family: 'Varela Round';
}
.footer-blog {
	text-align: left!important;
}

@media (min-width: 768px) and (max-width: 991px) {
.navbar-collapse.collapse {
	display: none!important;
	height: auto!important;
	padding-bottom: 0;
	overflow: visible!important;
}
.navbar-nav {
	float: left;
	width: 100%;
	text-align: center;
	display: inherit!important;
}
.navbar-nav > li {
	display: inline-block;
	float: none;
	margin: 10px!important;
}
.crmbtn {
	margin-top: 0!important;
}
#mainNav .navbar-toggler {
	visibility: hidden;
}
}

@media (min-width: 576px) and (max-width: 767.98px) {
.container:before, .container:after {
	display: none!important;
	content: " ";
}
#mainNav .navbar-toggler {
	font-size: 12px;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	background-color: #009add;
	
}
}

@media (max-width: 575.98px) {
.container:before, .container:after {
	display: none!important;
	content: " ";
}
#mainNav .navbar-toggler {
	font-size: 12px;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	background-color: #009add;
	margin-left:92px;
}
.carousel-item{ height:100% !important;
width:100% !important;}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active{
	transform: none !important;}
}
.numberss li {
	list-style-type: decimal;
	font-weight: bold;
}
.numberss ul li p {
	text-align: justify;
}

@media (min-width: 992px) {
#mainNav {
	height: 123px!important;
	border-bottom: 2px solid #007488!important;
	position: fixed!important;
	width: 100%!important;
}
}


@media only screen and (max-width: 767.98px) {
}
.hvr-grow-shadow:hover .image-holder{
	background:white
}
.hvr-grow-shadow:hover .image-holder i{
	background:#009add
}
.image-holder{
	width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #009add;
    position: relative;
}
.image-holder > i {
    position: absolute;
    content: "";
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
