.iconss{
    border: 1px solid gray;
    padding: 15px;
    border-radius: 15px;
}
.btn-dark{
    color: white;
    background-color: #009add;
    border-color: #009add;
}
.modules{
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #d3d3d370;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.f{
    border: 1px solid;
    border-color: lightgray;
    background-color: #d3d3d370;
}
.hvr-grow-shadow:hover{
    background-color: red;
}

.hvr-grow-shadow:hover p.text-muted{

    color: white!important;
}
.hvr-grow-shadow:hover i.iconss{
    color: white!important;
    border-color:white ;
}
.footer-blog{
    text-align: left!important;
}
@media (min-width: 768px) and (max-width: 991px) {

    .navbar-collapse.collapse {
       display: none!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    .navbar-nav {
        float: left;
        width: 100%;
        text-align: center;
        display: inherit!important;
    }
    .navbar-nav > li {
        display: inline-block;
        float: none;
        margin: 10px!important;
    }
    .crmbtn{
        margin-top: 0!important;
    }
    #mainNav .navbar-toggler{
        visibility: hidden;
    }

}
@media (min-width: 576px) and (max-width: 767.98px) {

    .container:before, .container:after {
        display: none!important;
        content: " ";
    }
    #mainNav .navbar-toggler {
        font-size: 12px;
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: #fff;
        border: 0;
        background-color: #009add;
    }
}
@media (max-width: 575.98px) {
	.carousel-item  { width:100% !important;
	height:100% !important;}
    .container:before, .container:after {
        display: none!important;
        content: " ";
    }
    #mainNav .navbar-toggler {
        font-size: 12px;
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: #fff;
        border: 0;
        background-color: #009add;
		margin-left:87px;
        margin-top: 13px;
    }
}
.numberss li{
    list-style-type: decimal;
    font-weight: bold;
}
.numberss ul li p{
    text-align: justify;
}


