.page-header{
    background-color:#4b98a7a6!important;
    padding: 10px 0!important;

}

#page .breadcrumb {
    border-radius: 0;
    background: none !important;
    color: black;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0px 0;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.page-header h1{
    color: white!important;
}
.page-section{
    padding-top: 0!important;
}

.navbar.navbar-bg-light .navbar-nav > li > a:hover{
    color: #4b98a7a6!important;
}
.navbar.navbar-bg-light .navbar-nav > li > a:active{
    color: #4b98a7a6!important;
}
.navbar.navbar-bg-light .navbar-nav > li > a{
    font-size: 12px!important;
}
