

.fotter_inner {
    padding: 0px 0 25px 0;
}
.bg-black {
    background-color: #16161600!important;
}
.contact-section .card {
    border: 0;
    border-bottom: .25rem solid #64a19d;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.text-center {
    text-align: center!important;
}
.text-primary {
    color: #64a19d!important;
    padding: 15px;
}
.contact-section .card h4 {
    font-size: 14px;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-weight: bold;
}
.fas {
    font-weight: 900;
    font-size: 25px;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.contact-section .card hr {
    border-color: #64a19d;
    border-width: 4px;
    width: 5rem;
}
.my-4 {
    margin-bottom: 1.5rem!important;
}
.my-4 {
    margin-top: 1.5rem!important;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.text-black-50 {
    color: rgba(0,0,0,.5)!important;
}
.small, small {
    font-size: 90%;
    padding: 10px;
    font-weight: 400;
}
.fotter_inner {
    padding: 0px 0 25px 0;
}
@media (min-width: 576px) and (max-width: 767.98px){
    .contact-section .card {
        border: 0;
        border-bottom: .25rem solid #64a19d;
        margin-bottom: 15px;
    }
}
@media (max-width: 575.98px){
    .contact-section .card {
        border: 0;
        border-bottom: .25rem solid #64a19d;
        margin-bottom: 15px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .contact-section .card {
        border: 0;
        border-bottom: .25rem solid #64a19d;
        margin-bottom: 15px;
    }
}