.cd-main-content {
    background: #e2e3df;
    min-height: 66vh!important;
    z-index: 2;
    padding-top: 0;
}
.blockchain{
    padding: 20px;
    border: 1px solid #e2e3df;
    font-family: 'Raleway', sans-serif;
    
}
.left-side h4{
    color: black;
    font-family: 'averta_black-webfont';
    font-weight: bold;
}
.left-side p{
    font-size: 16px;
}
.left-side img{
    margin: auto;
    display: flex;
}
.left-side li{
    list-style-type: circle;
    font-size: 16px;
}
.left-side
{
    margin-top: 20px;
    padding: 20px;
    text-align: justify;
    font-size: 19px;
   
 
}
.right-side{
 border: 1px solid #e2e3df;
}


.right-side ul{
    padding: 0;
}
.right-side li{
    margin-bottom: 3px;
    list-style-type: none;
}
.right-side li a {
    background: #10728c;
    color: #fff;
    display: block;
    padding: 12px;
    transition: color 0.2s ease 0s;
    text-decoration: none;
}