
 .owl-theme .item .caption {
    position: absolute;
}
.prouduct-icon-box-con a{
    border-radius: 15px;
}
.product-icon-box{
    border-radius: 15px;
}
.case_study_text_con {
    padding-top: 20px;
}
.color-white {
    font-size: 12px;
}
.btn-info{
    border-radius: 0;
    margin-top:19px;
    margin-left: 13px;
    background-color: #1f7d96;
    font-weight: 500;
     font-size: 12px;
     font-family: 'Hind Siliguri', sans-serif;
}

.far , .fas{
    padding-right: 10px;
    color: #33889f;
}

 /* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .resposive.css{
        height: auto;
    }

    body{
        text-align: center;
    }
    .medium_font__Montserrat {
        font-family: 'MontserratMedium';
        font-size: 22px;
    }
    .main-heading {
        padding-top: 30px;
    }
    .paragraph_text {
        font-size: 13px;
    }
    .about_text p.paragraph_text {
        font-size: 13px;
    }
    .case_study_con {
        background: #f4f4f4;
        padding: 22px 0 0 0;
    }
    .about_us_con {
        padding: 0px 0;
    }
    .paragraph-text {
        font-size: 12px;
    }
    .testimonial_con {
        background: url(../images/testimonial_sec_bg.jpg) no-repeat left top;
        background-size: cover;
        padding: 150px 0 70px 0;
    }
    .client_logo_con{
        width: 50%;
        margin: auto;
    }
   .owl-carousel.owl-loaded{
margin: auto;
    }
    .fotter_content_heading h5{
font-size: 22px;
    }
    .case_study_text_con {
        padding-top: 20px;
        text-align: center;
    }
    .fotter_menu ul{
        display: none;
    }
    .fotter_content_text img {
        margin: auto;
        padding-bottom: 10px;
        width: 200px;
    }
    .fotter_content_heading h5 {
        font-size: 22px;
        margin-top: 20px;
    }
    .footer_office_detail ul {
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        padding: 0 20px 0 0;
    }
    .fotter_inner {
        padding: 0px 0 0px 0;
    }
    .caption{
        text-align: left;
    }
    .caption h3{
        padding-top: 0;
        margin-top: 0;
        font-size: 30px;
    }
    .caption p{
        font-size: 12px;
        
    }
    .owl-theme .item .caption .btn {
        margin-top: 5px;
    }
    .caption button {
        font-size: 9px;
       
        
    }
    .product-icon-con{
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    .product-icon-box a,.product-icon-box img{
        margin: 15px 0 0 0;
    }
    
    .our-product-con{
        background: #f4f4f4;
       
    }
    .product-icon-box{
        width: 35%;
        padding-top: 30px;
        padding-bottom: 30px;
        background: #ffffff;
        -webkit-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        -moz-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        display: flow-root;
        margin: auto;
    }
    
    .prouduct-icon-box-con a{
        width: 30%;
        
        
        margin: 5px;
        text-decoration: none;
        height: 85px;
        padding: 0em 1em;
    }
    .our-product-bg {
        
        padding-bottom: 0px;
    }
    ul.tabs li {
        
        margin: auto;
        width: 40%;
        
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding: 5px 5px;
        box-sizing: border-box;
      
        text-align: center;
        
    }
    ul.tabs {
        padding: 0;
        float: left;
        list-style: none;
        width: 100%;
        margin:0 0 60px 0;
    }
    
    
    li.active img#service-icon_1 {
        /*content: url(../assets/images/service_icon_1_hover.png);*/
    }
    /* li.active img#service-icon_2 {
        content: url(../assets/images/service_icon_2_hover.png);
    }
    li.active img#service-icon_3 {
        content: url(../assets/images/service_icon_3_hover.png);
    }
    li.active img#service-icon_4 {
        content: url(../assets/images/service_icon_4_hover.png);
    }
    li.active img#service-icon_5 {
        content: url(../assets/images/service_icon_5_hover.png);
    } */
    .tabs_head_inner  {
        min-height:219px;
        padding:30px 0;
        background:#fff;
        border:2px solid #e4e4e4;
        border-radius:20px;
    }
    ul.tabs li span{
        text-align:center;
        margin:0 0 20px 0;
        width:100%;
        float:left;
    }
    
    ul.tabs li span img{
        display:inline-block;
    }
    tabs_head_inner:hover {
        background-color: #197e98;
        color: #fff;
    }
    
    ul.tabs li.active .tabs_head_inner {
        background-color: #197e98;
        color: #fff;
        display: block;
    }
    .service_txt{
        padding:60px 0 0 0;
     }
    
    .tab_container {
        clear: both;
        float: left;
        width: 100%;
        overflow: auto;
    }
    
    .tab_content {
        padding: 20px;
        display: none;
    }
    .color-white{
        font-kerning: 10px;
    }
    .social{
        display: flex;
  
    align-content: center;
    justify-content: center;
    padding-top: 10px;
    }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
   body{
       text-align: center;
   }
   .client_logo_con{
    
    margin: auto;
}
   .fotter_content_text img {
    margin: auto;
    padding-bottom: 10px;
    width: 300px;
}
.fotter_menu ul{
    display: none;
}
.fotter_inner {
    padding: 0px 0 0px 0;
}
     .caption{
         text-align: left;
        margin-top: 0;
    }
    .caption h3{
        padding-top: 0;
        margin-top: 0;
        font-size: 30px;
    }
    .caption p{
        font-size: 12px;

    }
    .caption button {
        font-size: 9px;
    }
    
    .product-icon-con{
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    .product-icon-box a,.product-icon-box img{
        margin: 15px 0 0 0;
    }
    
    .our-product-con{
        background: #f4f4f4;
       
    }
    .product-icon-box{
        width: 35%;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #ffffff;
        -webkit-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        -moz-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        display: flow-root;
        margin: auto;
    }
    .paragraph_text{
        padding-bottom: 20px;
    }
    .prouduct-icon-box-con a{
        width: 30%;
        
        
        margin: 5px;
        text-decoration: none;
        height: 85px;
        padding: 0em 1em;
    }
    .our-product-bg {
        
        padding-bottom: 0px;
    }
    ul.tabs li {
        
        margin: auto;
        width: 40%;
        
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding: 5px 5px;
        box-sizing: border-box;
      
        text-align: center;
        
    }
    ul.tabs {
        padding: 0;
        float: left;
        list-style: none;
        width: 100%;
        margin:0 0 60px 0;
    }
    
    
    /*li.active img#service-icon_1 {*/
        /*content: url(../assets/images/service_icon_1_hover.png);*/
    /*}*/
    /* li.active img#service-icon_2 {
        content: url(../assets/images/service_icon_2_hover.png);
    }
    li.active img#service-icon_3 {
        content: url(../assets/images/service_icon_3_hover.png);
    }
    li.active img#service-icon_4 {
        content: url(../assets/images/service_icon_4_hover.png);
    }
    li.active img#service-icon_5 {
        content: url(../assets/images/service_icon_5_hover.png);
    } */
    .tabs_head_inner  {
        min-height:219px;
        padding:30px 0;
        background:#fff;
        border:2px solid #e4e4e4;
        border-radius:20px;
    }
    ul.tabs li span{
        text-align:center;
        margin:0 0 20px 0;
        width:100%;
        float:left;
    }
    
    ul.tabs li span img{
        display:inline-block;
    }
    tabs_head_inner:hover {
        background-color: #197e98;
        color: #fff;
    }
    
    ul.tabs li.active .tabs_head_inner {
        background-color: #197e98;
        color: #fff;
        display: block;
    }
    .service_txt{
        padding:60px 0 0 0;
     }
    
    .tab_container {
        clear: both;
        float: left;
        width: 100%;
        overflow: auto;
    }
    
    .tab_content {
        padding: 20px;
        display: none;
    }
    .social{
        display: flex;
  
    align-content: center;
    justify-content: center;
    padding-top: 10px;
    }
 }
  

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    h2.change1{
        padding-top: 12px;
    }
    h2.change2{
        padding-top: 5px;
    }
    h2.change4{
        padding-top: 14px;
    }
    .product-icon-con{
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    .change img{
       padding-bottom: 9px;
    }
    .product-icon-box a,.product-icon-box img{
        margin: 15px 0 0 0;
    }
    
    .our-product-con{
        background: #f4f4f4;
        padding: 70px 0 0 0;
    }
    .product-icon-box img,.product-icon-box h2{
       
        display: inline-block;
        vertical-align: middle;
    }
    .product-icon-box{
        max-width: 600px;
    }
    .product-icon-box img{
        width: 20%;
    }
    .product-icon-box h2{
        width: 75%;
        margin-left: 10px;
    }
    .prouduct-icon-box-con{
        width: 100%;
        float: unset;
        text-align: center;
    }
    .prouduct-icon-box-con a{
        width: 30%;
        display: inline-block;
        background: #ffffff;
        -webkit-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        -moz-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        margin: 5px;
        text-decoration: none;
        height: 135px;
       
        padding: 0em 1em;
    }
    .paragraph_text {
        font-size: 15px;
    }
    ul.tabs li {
        float: left;
        margin: 0;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding: 5px 5px;
        box-sizing: border-box;
        width: 33%;
        text-align: center;
    }
    ul.tabs {
	padding: 0;
	float: left;
	list-style: none;
	width: 100%;
	margin:0 0 60px 0;
}

    /*ul.tabs li.active .tabs_head_inner*/
ul.tabs li.active  img#service-icon_1.tabs_head_inner  {
	content: url(/assets/images/service_icon_1_hover.png);
}
 ul.tabs li.active  img#service-icon_2.tabs_head_inner  {
    content: url(/assets/images/service_icon_2_hover.png);
}
ul.tabs li.active  img#service-icon_3.tabs_head_inner  {
	content: url(/assets/images/service_icon_3_hover.png);
}
ul.tabs li.active  img#service-icon_4.tabs_head_inner  {
	content: url(/assets/images/service_icon_4_hover.png);
}
ul.tabs li.active  img#service-icon_5.tabs_head_inner  {
	content: url(/assets/images/service_icon_5_hover.png);
}
.tabs_head_inner  {
	min-height:219px;
	padding:30px 0;
	background:#fff;
	border:2px solid #e4e4e4;
	border-radius:20px;
}
ul.tabs li span{
	text-align:center;
	margin:0 0 20px 0;
	width:100%;
	float:left;
}

ul.tabs li span img{
	display:inline-block;
}
.tabs_head_inner:hover {
	background-color: #197e98;
	color: #fff;

}

ul.tabs li.active .tabs_head_inner {
	background-color: #197e98;
	color: #fff;
	display: block;
}
.service_txt{
	padding:60px 0 0 0;
 }

.tab_container {
	clear: both;
	float: left;
	width: 100%;
	overflow: auto;
}

.tab_content {
	padding: 20px;
	display: none;
}
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h2.change2{
        padding-top: 10px;
    } 
    h2.change4{
        padding-bottom: 16px;
    }
    .product-icon-con{
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    .product-icon-box a,.product-icon-box img{
        margin: 15px 0 0 0;
    }
    
    .our-product-con{
        background: #f4f4f4;
        padding: 70px 0 0 0;
    }
    .product-icon-box img,.product-icon-box h2{
       
        display: inline-block;
        vertical-align: middle;
    }
    .product-icon-box{
        max-width: 600px;
    }
    .product-icon-box img{
        width: 20%;
    }
    .product-icon-box h2{
        width: 75%;
        margin-left: 10px;
    }
    .prouduct-icon-box-con{
        width: 100%;
        float: unset;
        text-align: center;
    }
    .prouduct-icon-box-con a{
        width: 30%;
        display: inline-block;
        background: #ffffff;
        -webkit-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        -moz-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        margin: 5px;
        text-decoration: none;
        height: 139px;
        padding: 0em 1em;
    }
    .paragraph_text {
        font-size: 18px;
    }
    ul.tabs {
        padding: 0;
        float: left;
        list-style: none;
        width: 100%;
        margin:0 0 60px 0;
    }
    
    ul.tabs li {
        float: left;
        margin: 0;
        cursor: pointer;
    
        overflow: hidden;
        position: relative;
        padding:0 5px;
        box-sizing: border-box;
        width: 20%;
        text-align:center;
    }
    /*li.active img#service-icon_1 {*/
        /*content: url(../assets/images/service_icon_1_hover.png);*/
    /*}*/
    /* li.active img#service-icon_2 {
        content: url(../assets/images/service_icon_2_hover.png);
    }
    li.active img#service-icon_3 {
        content: url(../assets/images/service_icon_3_hover.png);
    }
    li.active img#service-icon_4 {
        content: url(../assets/images/service_icon_4_hover.png);
    }
    li.active img#service-icon_5 {
        content: url(../assets/images/service_icon_5_hover.png);
    } */
    .tabs_head_inner  {
        min-height:219px;
        padding:30px 0;
        background:#fff;
        border:2px solid #e4e4e4;
        border-radius:20px;
    }
    ul.tabs li span{
        text-align:center;
        margin:0 0 20px 0;
        width:100%;
        float:left;
    }
    
    ul.tabs li span img{
        display:inline-block;
    }
    tabs_head_inner:hover {
        background-color: #197e98;
        color: #fff;
    }
    
    ul.tabs li.active .tabs_head_inner {
        background-color: #197e98;
        color: #fff;
        display: block;
    }
    .service_txt{
        padding:60px 0 0 0;
     }
    
    .tab_container {
        clear: both;
        float: left;
        width: 100%;
        overflow: auto;
    }
    
    .tab_content {
        padding: 20px;
        display: none;
    }
  }


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .product-icon-con{
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    .product-icon-box a,.product-icon-box img{
        margin: 15px 0 0 0;
    }
    
    .our-product-con{
        background: #f4f4f4;
        padding: 70px 0 0 0;
    }
    .product-icon-box img,.product-icon-box h2{
       
        display: inline-block;
        vertical-align: middle;
    }
    .product-icon-box{
        max-width: 600px;
    }
    .product-icon-box img{
        width: 20%;
    }
    .product-icon-box h2{
        width: 75%;
        margin-left: 10px;
    }
    .prouduct-icon-box-con{
        width: 100%;
        float: left;
        text-align: center;
    }
    .prouduct-icon-box-con a{
        width: 30%;
        display: inline-block;
        background: #ffffff;
        -webkit-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        -moz-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        margin: 5px;
        text-decoration: none;
        height: 85px;
        text-align: left;
        padding: 0em 1em;
    }
    ul.tabs {
        padding: 0;
        float: left;
        list-style: none;
        width: 100%;
        margin:0 0 60px 0;
    }
    
    ul.tabs li {
        float: left;
        margin: 0;
        cursor: pointer;
    
        overflow: hidden;
        position: relative;
        padding:0 5px;
        box-sizing: border-box;
        width: 20%;
        text-align:center;
    }
    /*li.active img#service-icon_1 {*/
        /*content: url(../assets/images/service_icon_1_hover.png);*/
    /*}*/
    /* li.active img#service-icon_2 {
        content: url(../assets/images/service_icon_2_hover.png);
    }
    li.active img#service-icon_3 {
        content: url(../assets/images/service_icon_3_hover.png);
    }
    li.active img#service-icon_4 {
        content: url(../assets/images/service_icon_4_hover.png);
    }
    li.active img#service-icon_5 {
        content: url(../assets/images/service_icon_5_hover.png);
    } */
    .tabs_head_inner  {
        min-height:219px;
        padding:30px 0;
        background:#fff;
        border:2px solid #e4e4e4;
        border-radius:20px;
    }
    ul.tabs li span{
        text-align:center;
        margin:0 0 20px 0;
        width:100%;
        float:left;
    }
    
    ul.tabs li span img{
        display:inline-block;
    }
    tabs_head_inner:hover {
        background-color: #197e98;
        color: #fff;
    }
    
    ul.tabs li.active .tabs_head_inner {
        background-color: #197e98;
        color: #fff;
        display: block;
    }
    .service_txt{
        padding:60px 0 0 0;
     }
    
    .tab_container {
        clear: both;
        float: left;
        width: 100%;
        overflow: auto;
    }
    
    .tab_content {
        padding: 20px;
        display: none;
    }
 }
 /*#more {display: none;}*/
 .toggle-text {
     display: none;
 }
