body{
	margin:0;
	padding:0;
	background-color: white;
}
.wf{
	width:100%;
	float:none;
}
.no_paddind{
	padding-left:0px;
	padding-right:0px;
}
.no_paddind_left{
	padding-left:0;
}

.no_paddind_right{
	padding-right:0;
}
.color-black{
	color:#000;
}
.color-white{
	color:#fff;
}
.paragraph-text{
	font-size:18px;
}
.main-heading{
	margin:0 0 20px 0;
	font-size:40px;
}
.sub-heading{
	margin:0 0 20px 0;
	font-size:22px;
}
.paragraph_text{
	font-size:21px;
}
.color-blue{
	color:#007488;
}
.regular_font__Montserrat{
    font-family: 'MontserratRegular';
}

.light_font__Montserrat{
    font-family: 'MontserratLight';
}

.medium_font__Montserrat{
    font-family: 'MontserratMedium';
}

.bold_font__Montserrat{
    font-family: 'MontserratBold';
}

.extra_bold__Montserrat{
    font-family: 'MontserratExtraBold';
}