body{
	background-color:#f4f4f4 !important;
	}
header{
	background-color:#fff;
	}
.banner{
	width:100%;
	background:url(../img/banner1.jpg) no-repeat;
	background-size:cover;
	background-position:center center;
	padding:200px 0 ;
	text-align:left;
	animation:none;
	
	}
.banner h1{
	text-transform:uppercase;
	color:#fff;
	font-size:40px;
	   font-family: "HindSiliguri-Bold";
	  	margin:0;
		animation:none;
		
	}
.banner.inventory p{
	background-color:transparent;
	text-transform:lowercase;
	color:rgba(244,244,244,0.7);
	padding:10px 47%  0 0;
	display:inline-block;
	 font-family: "HindSiliguri-Medium";
	font-size:18px;
	margin:0;
	animation:none;

	}
.items{
	padding:80px 0;
	width:100%;
	background-color:#f4f4f4;
	border-bottom:3px solid #dadada;
	}
.items .itemsimage img{
	max-width:90%;
	}
.items .itemsimage img{
	max-width:90%;
	}
.items .items_info{
	padding:50px 0;}
.items .items_info h2{
	font-size:36px;
	text-transform:uppercase;
	 font-family: "HindSiliguri-Bold";
	 color:#007488;
	}
.items .items_info p{
	font-size:16px;
	 font-family: "HindSiliguri-Medium";
	 color:#000;
	 text-transform:capitalize;
	}
.assets{
	padding:80px 0;
	width:100%;
	background-color:#fff;
	}
.assets .itemsimage{
	box-shadow: 1px 3px 10px #c7c7c7;
	}
.assets .itemsimage img{
	max-width:100%;
	}
.assets .items_info{
	padding:30px 70px;
	}
.assets .items_info h2{
		font-size:36px;
	text-transform:uppercase;
	 font-family: "HindSiliguri-Bold";
	 color:#007488;
	 }
.assets .items_info p{	 
	font-size:16px;
	
	 font-family: "HindSiliguri-Medium";
	 color:#000;
}
.transfer{
	background:url(../img/transfer1.png) no-repeat center;
	background-size:cover;
	padding:50px 0 25%;
	text-align:center;
	position:relative;
	margin-bottom:20%;
	
	}
.transfer .inventory_info h2{
	margin:0;
	color:#fff;
	text-transform:uppercase;
	 font-family: "HindSiliguri-Bold";
	 font-size:40px;
	 }
.transfer .inventory_info p{
	color:#fff;
	margin:10px 0;
	font-size:18px;
	font-family: "HindSiliguri-Medium";
	}
.transfer .inventory_image{
	width:100%;

	position:absolute;
	top:190px;
	left:50%;
	transform:translate(-50%);}
.transfer .inventory_image img{
	max-width:70%;
	box-shadow: 1px 3px 10px #c7c7c7;
	
	}
.issue{
	background:url(../img/issue.jpg) no-repeat;
	background-size:cover;
	padding:80px 0 70px;
	text-align:center;
	}
.issue .issue_info h2{
	color:#fff;
	font-size:40px;
	margin:0;
	text-transform:uppercase;
	}
.issue .issue_info p{
	color:rgba(255,255,255,0.8);
	font-size:18px;
	margin:15px 0;
	}
	

