@font-face {
	font-family: "HindSiliguri-Regular";
	src: url(../fonts/HindSiliguri-Regular.woff) format("truetype");
}

@font-face {
	font-family: "HindSiliguri-Medium";
	src: url(../fonts/HindSiliguri-Medium.woff) format("truetype");
}

@font-face {
	font-family: "HindSiliguri-Light";
	src: url(../fonts/HindSiliguri-Light.woff) format("truetype");
}

@font-face {
	font-family: "HindSiliguri-Bold";
	src: url(../fonts/HindSiliguri-Bold.woff) format("truetype");
}

@font-face {
	font-family: "HindSiliguri-SemiBold";
	src: url(../fonts/HindSiliguri-SemiBold.woff) format("truetype");
}

@font-face {
	font-family: "Practique";
	src: url(../fonts/Practique.ttf) format("truetype");
}

header {
	width: 100%;
	padding: 10px 0;
}

header .logo img {
	max-width: 50%;
}

header .phone_no {
	text-align: right;
	padding: 10px 0 0;
}

header .phone_no i {
	margin-right: 10px;
	width: 30px;
	font-size: 16px;
	height: 30px;
	color: #3489a0;
	text-align: center;
	padding: 6px 0;
	border-radius: 50%;
	border: 1px solid #dcdcdc;
	background-color: #eaeaea;
}

header .phone_no label {
	font-family: "HindSiliguri-SemiBold";
	font-size: 20px;
	color: #3489a0;
}

.banner {
	width: 100%;
	background: url(../img/banner.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 195px 0 !important;
	text-align: center;
}

.banner h2 {
	font-family: "HindSiliguri-SemiBold";
	color: #000;
	font-size: 50px;
	margin: 0;
	text-transform: uppercase;
}

.banner h1 {
	text-transform: uppercase;
	color: #3489a0;
	font-size: 90px;
	font-family: "Practique";
	margin: 0;
	padding: 0px;
}

.banner p {
	background-color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	color: #fff;
	padding: 10px;
	display: inline-block;
	font-family: "HindSiliguri-SemiBold";
	font-size: 20px;
	margin: 0;
}

.aboutus {
	width: 100%;
	background: url(../img/pattern.jpg);
	padding: 70px 0 60px;
	text-align: center;
}

.aboutus h1 {
	font-size: 40px;
	font-family: "HindSiliguri-SemiBold";
	color: #fff;
	text-transform: uppercase;
	margin: 10px 0;
}

.aboutus p.subheading {
	font-size: 20px;
	font-family: "HindSiliguri-Medium";
	color: #f4f4f4;
	margin: 10px 0;
}

.aboutus p {
	font-size: 20px;
	font-family: "HindSiliguri-Light";
	color: #f4f4f4;
	margin: 30px 0;
}

.module {
	width: 100%;
	text-align: center;
	padding: 70px 0 50px;
	background-color: #f4f4f4;
}

.module .heading h1 {
	text-transform: uppercase;
	font-size: 40px;
	margin: 10px 0;
	font-family: "HindSiliguri-SemiBold";
}

.module .heading p {
	font-size: 20px;
	margin: 10px 0;
	font-family: "HindSiliguri-Medium";
}

.module .moduledata {
	background-color: #4598af;
	padding: 0 0;
	margin: 15px 0;
	text-align: center;
	border: 3px solid #10718b;
}

.module .moduledata .moduleinfo {
	padding: 0 0;
}

.module .moduledata .moduleinfo h4 {
	background: url(../img/border.png) no-repeat center 34px;
	line-height: 40px;
	font-family: "HindSiliguri-SemiBold";
	font-size: 28px;
	color: #fff;
	text-transform: uppercase;
}

.module .moduledata .moduleinfo p {
	margin: 0 0;
	font-family: "HindSiliguri-Regular";
	font-size: 16px;
	color: #fffefe;
}

.module a {
	display: inline-block;
}

.module .moduledata .imgholder1 {
	background: url(../assets/icons/Sales-W.png) no-repeat 50%;
	height: 100px;
}

.module .moduledata .imgholder2 {
	background: url(../assets/icons/Procurement-W.png) no-repeat 50%;
	height: 100px;
}

.module .moduledata .imgholder3 {
	background: url(../assets/icons/Inventory-W.png) no-repeat 50%;
	height: 100px;
}

.module .moduledata .imgholder4 {
	background: url(../assets/icons/Accounts-W.png) no-repeat 50%;
	height: 100px;
}

.module .moduledata .imgholder5 {
	background: url(../assets/icons/Producton-W.png) no-repeat 50%;
	height: 100px;
}

.module .moduledata .imgholder6 {
	background: url(../assets/icons/HRM-W.png) no-repeat 50%;
	height: 100px;
}

.module .moduledata .imgholder7 {
	background: url(../assets/icons/CRM-W.png) no-repeat 50%;
	height: 100px;
}

.module .moduledata .imgholder8 {
	background: url(../assets/icons/Supply-Chain-W.png) no-repeat 50%;
	height: 100px;
}

.module .moduledata i {
	font-size: 24px;
	color: #fff;
}

.module .moduledata:hover {
	background-color: #fff;
	border-color: #e0e0e0;
	transition: all ease-in-out 0.3s;
}

.module .moduledata:hover .imgholder1 {
	background: url(../assets/icons/Sales.png) no-repeat 50%;
}

.module .moduledata:hover .imgholder2 {
	background: url(../assets/icons/Procurement.png) no-repeat 50%;
}

.module .moduledata:hover .imgholder3 {
	background: url(../assets/icons/Inventory.png) no-repeat 50%;
}

.module .moduledata:hover .imgholder4 {
	background: url(../assets/icons/Accounts.png) no-repeat 50%;
}

.module .moduledata:hover .imgholder5 {
	background: url(../assets/icons/Production.png) no-repeat 50%;
}

.module .moduledata:hover .imgholder6 {
	background: url(../assets/icons/HRM.png) no-repeat 50%;
}

.module .moduledata:hover .imgholder7 {
	background: url(../assets/icons/CRM.png) no-repeat 50%;
}

.module .moduledata:hover .imgholder8 {
	background: url(../assets/icons/Supply-Chain.png) no-repeat 50%;
}

.module .moduledata:hover h4 {
	background: url(../img/border-1.png) no-repeat center 34px;
	color: #333333;
}

.module .moduledata:hover p {
	color: #777777;
}

.module .moduledata:hover i {
	color: #333333;
}

.clients {
	width: 100%;
	text-align: center;
	padding: 15px 0 5px;
}

.clients .clientheading h1 {
	font-family: "HindSiliguri-SemiBold";
	font-size: 40px;
	color: #1f7d96;
	margin: 10px 0;
	text-transform: uppercase;
}

.clients .clientheading p {
	font-family: "HindSiliguri-Medium";
	font-size: 20px;
	color: #343434;
}

.clients .partners {
	width: 100%;
	margin: 40px 0 10px;
}


/*.clients .partners .logoholder{	padding:10px;	display:inline-block !important;	float:left;	}.clients .partners .logoholder.rightborder{	border-right:2px solid #d4d4d4;	border-bottom:2px solid #d4d4d4;	}.clients .partners .logoholder.bottomborder{	border-bottom:2px solid #d4d4d4;	}.clients .partners .logoholder.borderright{	border-right:2px solid #d4d4d4;	}.clients .partners .logoholder img{	max-width:70%;	}*/

.clients .partners .clientholder {
	padding: 20px 0;
}

.clients .partners .clientholder img {
	max-width: 90%;
}

.clients .partners .slider {
	background: url(../img/comma.png) no-repeat;
	background-position: top right;
	margin: 10px 0;
}

.clients .partners .slider .clientimg img {
	max-width: 80%;
}

.clients .partners .slider .clientimg {
	float: left;
}

.clients .partners .slider .client_info {
	float: left;
	margin-top: 10px;
	text-align: left;
}

.clients .partners .slider .client_info i {
	color: #ff8f00;
	font-size: 16px;
}

.clients .partners .slider .client_info h5 {
	font-family: "HindSiliguri-SemiBold";
	text-transform: uppercase;
	font-size: 20px;
	color: #000;
	margin: 5px 0;
	padding: 0px;
}

.clients .partners .slider .commas {
	float: right;
}

.clients .partners .slider .clientdetails {
	text-align: left;
	padding: 15px 0;
}

.clients .partners .slider .clientdetails p {
	font-size: 16px;
	color: #3f3f3f;
	font-family: "HindSiliguri-Regular";
}

footer {
	background-color: #1c7992;
	padding: 50px 0 30px;
}

footer .footertitle h4 {
	border-bottom: 1px solid #4792a6;
	padding: 5px 0;
	color: #fff;
	font-family: "HindSiliguri-Medium";
}

footer .footer_info {
	padding: 20px 0;
}

footer .footer_info p {
	color: #fff;
	font-family: "HindSiliguri-Light";
	margin: 20px 0;
	font-size: 16px;
}

footer .footer_info ul {
	padding: 0;
	color: #fff;
	list-style: none;
}

footer .footer_info ul li {
	padding: 5px 0;
}

footer .footer_info ul li a {
	color: #fff;
	font-family: "HindSiliguri-Light";
}

footer .footer_info h5 {
	text-transform: uppercase;
	color: #fff;
	font-family: "HindSiliguri-Regular";
	font-size: 20px;
}

footer .footer_info ul.location {
	list-style: none;
	padding: 0;
	font-family: "HindSiliguri-Light";
	font-size: 15px;
}

footer .footer_info ul.location li {
	padding: 2px 0;
}

footer .footer_info ul.location i {
	color: #fff;
	font-size: 18px;
	margin-right: 10px;
}

.subfooter {
	background-color: #0f6d86;
	padding: 20px 0 10px;
}

.subfooter h6 {
	margin: 10px 0;
	color: #fff;
}

.subfooter .socialmedia {
	text-align: center;
	width: 30px;
	height: 30px;
	border-radius: 2px;
	display: inline-block;
	padding: 5px 0;
	background-color: #3360ad;
	margin-right: 5px;
}

.subfooter .socialmedia.twitter {
	background-color: #23bbeb;
}

.subfooter .socialmedia.google {
	background-color: #d64c41;
}

.subfooter .socialmedia.linkdin {
	background-color: #178dc4;
}

.subfooter .socialmedia i {
	color: #fff;
}


/*  owl carousel  */

.owl-carousel .owl-dots {
	display: none;
}

.owl-carousel .owl-nav button.owl-prev {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #908f8f !important;
	background-color: transparent;
}

.owl-carousel .owl-nav button.owl-next {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #908f8f !important;
	background-color: transparent;
}

.owl-carousel .owl-nav button.owl-prev:hover {
	color: #1c7992;
	border: 2px solid #1c7992 !important;
	background-color: transparent;
}

.owl-carousel .owl-nav button.owl-next:hover {
	color: #1c7992;
	border: 2px solid #1c7992 !important;
	background-color: transparent;
}

.owl-carousel .owl-nav button span {
	font-size: 24px;
	color: #908f8f;
}

.owl-carousel .owl-nav button:hover span {
	color: #1c7992;
}

.owl-carousel .owl-nav button:focus {
	outline: none;
}

.owl-theme .owl-nav {
	margin: 0 0 20px 0 !important;
	text-align: left !important;
}

.wow.pulse {
	animation-iteration-count: 4;
}

.sticky-container {
	padding: 0px;
	margin: 0px;
	position: fixed;
	right: -106px;
	top: 230px;
	width: 186px;
	z-index: 1100;
}

.sticky li {
	list-style-type: none;
	background-color: #fff;
	color: #efefef;
	height: 43px;
	padding: 0px;
	margin: 0px 0px 1px 0px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	border-radius: 25px;
	margin-left: 21px;
}

.sticky li:hover {
	margin-left: -150px;
}

.sticky li img {
	float: left;
	margin: 5px 4px;
	margin-right: 5px;
}

.sticky li p {
	padding-top: 17px;
	margin: 0px;
	line-height: 16px;
	font-size: 16px;
}

.sticky li p a {
	text-decoration: none;
	color: #2C3539;
	text-decoration: none;
}

.sticky li p a:hover {
	text-decoration: underline;
}

.btn-default a {
	color: white;
}

.btn-warning {
	background-color: #FF9800;
	border-color: #FF9800;
}

.btn-warning a {
	color: #fff;
}

.icons-bg-color i:hover {
	background-color: #00324e !important;
}

.cd-header-buttons {
	font-size: 14px;
	margin-right: -10px;
}

.cd-header-buttons a{
	color: black;
}

@media (min-width: 992px) {
	#top-bar {
		display: none;
	}
}

@media (max-width: 991.98px) {
	.navbar-collapse {
		float: right;
	}
	.image-logo {
		float: left;
	}
	.navbar-brand>img {
		margin-left: auto!important;
		width: 155px!important;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.navbar-nav {
		margin: 1.5px -15px!important;
	}
	.navbar-toggle {
		margin-top: 3px !important;
	}
	.navbar {
		height: 66px!important;
	}
	.banner {
		width: 100%;
		background: url(../img/banner.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
		padding: 195px 0;
		text-align: center;
	}
	.btn-warning {
		color: #fff;
		background-color: #FF9800;
		border-color: #FF9800;
		margin-top: 8px;
		margin-left: 11px;
	}
}

.dropdown-menu>li>a {
	display: block;
	padding: 10px 20px;
	clear: both;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.428571429;
	/* color: #333; */
	white-space: nowrap;
}

.dropdown-menu li:hover {
	background-color: #4b98a7a6!important;
}

.erp-header-li li:hover {
	background-color: #fff !important;
}

.owl-nav {
	display: none!important;
}