body ,ul{
margin: 0;
padding: 0;
font-family: Montserrat;
}
a{
text-decoration: none;
} .top-banner{
background: url(//localhost/netrootstech.com/wp-content/themes/twentyseventeen//assets/hrm-assets/images/training-banner.png) no-repeat;
background-size: cover;
width: 100%;
min-height: 450px;
padding-top: 130px;
font-family: "Hind Siliguri";
}
.banner-content h1{
font-size:38px;
color: black;
text-transform: uppercase;
font-weight: 600;
margin-top: 50px
}
.banner-content p{
color: black;
margin: 0;
font-weight: 500;
font-size: 20px;
} .module-area{
margin-bottom: 30px;
}
.module-area h2{
font-size: 36px;
font-weight: 600;
font-family: "Hind Siliguri";
text-align: center;
color: #3489a0;
margin-top: 50px;
}
.module-area p{
text-align: center;
font-size: 18px;
font-weight: 500;
color: black;
margin: 0px 80px;
font-family: "Hind Siliguri";
}
.module-chart{
margin-top: 30px;
}
.module-tablet{
text-align: center;
}  .branches-training{
text-align: right;
}
.branches-training a{
text-decoration: none;
}
.branches-training h4{
color: black;
font-size: 24px;
font-weight: 600;
margin: 0;
margin-top: 65px;
text-transform: uppercase;
line-height: 1.4;
}
.branches-training p{
color: black;
font-size: 16px;
text-align: right;
margin: 0;
}
.branches-right-training{
text-align: left;
}
.branches-right-training a{
text-decoration: none;
}
.branches-right-training h4{
color: black;
font-size: 24px;
font-weight: 600;
margin: 0;
margin-top: 130px;
text-transform: uppercase;
line-height: 1.4;
}
.branches-right-training p{
color: black;
font-size: 16px;
text-align: left;
margin: 0;
} .content-wraper{
background-color: #3489a0;
padding: 60px 0px;
}
.content-wraper h2{
margin-top: 40px;
font-size: 36px;
font-weight: 600;
color: white;
text-transform: uppercase;
}
.content-wraper p{
color: white;
font-weight: 100;
} .text-area h2{
text-align: center;
margin-top: 20px;
font-size: 36px;
color: #3489a0;
}
.text-area p{
text-align: center;
color: black;
margin-bottom: 20px;
} @media screen and (max-width: 1200px){
.branches h4{
margin-top: 10px;
margin-bottom: 1px;
font-size: 22px;
}
.branches-right h4{
margin-top: 10px;
margin-bottom: 1px;
font-size: 22px;
}
.wraper-image{
margin-top: 38px;
}
.content-wraper h2{
font-size: 35px;
}
}
@media screen and (max-width: 990px){
.top-banner {
background: url(//localhost/netrootstech.com/wp-content/themes/twentyseventeen//assets/hrm-assets/images/module-banner.jpg) no-repeat;
min-height: 306px;
padding-top: 77px;
background-size: cover;
width: 100%;
}
.branches h4{
font-size: 18px;
margin-top: 5px;
}
.branches-right h4{
font-size: 18px;
margin-top: 5px;
}
.branches p{
font-size: 12px;
}
.branches-right p{
font-size: 12px;
}
.content-wraper h2{
font-size: 25px;
}
.content-wraper p{
font-size: 14px;
}
.wraper-image{
margin-top: 80px;
}
}
@media screen and (max-width: 767px){
.banner-content h1{
font-size: 42px;
}
.banner-content p{
font-size: 19px;
}
.top-banner{
padding-top: 96px;
}
.module-area p{
font-size: 16px;
margin: 0px 15px;
}
.module-area h2{
font-size: 32px;
}
.branches{
text-align: center;
}
.branches p{
text-align: center;
}
.branches-right{
text-align: center;
}
.branches-right p{
text-align: center;
}
.branches h4 {
font-size: 20px;
margin-top: 35px;
}
.branches-right h4 {
font-size: 20px;
margin-top: 35px;
}
.module-tablet{
margin-top: 50px;
}
}
@media screen and (max-width: 576px){
.top-banner {
padding-top: 29px;
}
}