@import url("bootstrap.css");
@import url("nav-style.css");
@import url("owl.carousel.min.css");
@import url("fonts.css");
@import url("header.css");
@import url("footer.css");
@import url("special-classes.css");
@import url("colors.css");
@import url("effect2.css");
@import url("nav-style-2.css");
@import url("custom-style.css");
@import url("mobile.css");
@import url("product.css");
@import url("aboutus.css");
/* @import url("resposive.css"); */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url("hover-min.css");
@import url("hover.css");
@import url("scroll.css");
@import url("stickyicons.css");
@import url("table.css");
@import url("nrt-blog.css");
.no_margin {
    margin: 0 !important;
    padding:0 !important;
}
.page-id-49 .fotter_copyright_sec_con + .sticky-container{
	display:none;
}