body {
    margin: 0;
    padding: 0
}

.ip-loader img {
    margin-bottom: 20px
}

.ip-loader h4 {
    margin-bottom: 10px
}
.thumb-img img {
	width:20% !important;
	display:inline-block !important;
}
.page-id-268 .client-image img , .page-id-189 .client-image img{
	width:20% !important;
	display:inline-block !important;
}
.banner-con {
    height: 520px;
    background: url(../images/banner_1.jpg) no-repeat left top;
    background-size: cover
}

.nav-con {
    width: 100%;
    float: left;
    padding: 0;
    background: #fff;
    z-index: 100000000000000
}

.cd-morph-dropdown .main-nav > ul > li > a {
    color: #000;
    text-decoration: none
}

.cd-morph-dropdown .main-nav > ul > li > a:hover {
    text-decoration: none
}

.cd-morph-dropdown .main-nav > ul > li > a:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: 0 0;
    transition: width .5s ease, background-color .5s ease
}

.cd-morph-dropdown .main-nav > ul > li > a:hover:after {
    width: 100%;
    background: #0d7488
}

.business-profile-btn {
    background: #ff9800;
    border-radius: 5px;
    color: #fff !important;
    height: 46px !important;
    line-height: 46px !important;
    margin: 15px 0 0 15px;
    padding: 0 .8em !important
}

.dropdown ul li, ul li {
    list-style: none !important
}

.carousel-wrapper {
    margin-bottom: 0
}

.our-product-bg {
    margin-top: 20px;
    background: url(../images/our-product.png) no-repeat center center;
    padding-bottom: 100px;
    display: table;
    background-size: cover
}

.owl-theme .item {
    width: 100%
}

.owl-theme .item img {
 	  width: 100%;
    
}

.owl-theme .item .caption {
    position: absolute;
    left: 10%;
    top: 65%;
    transform: translateY(-50%);
    padding: 20px;
    transition: opacity .3s;
    opacity: 0
}

.caption h3 {
    color: #fff
}

.caption p {
    color: #fff;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 0
}

.owl-theme .item .caption .btn {
    margin-top: 20px;
		padding: 18px;
    font-size: 12px;
}

.owl-theme .owl-item.active .caption {
    opacity: 1
}

.owl-theme .owl-nav .owl-next, .owl-theme .owl-nav .owl-prev {
    position: absolute;
    top: 50%
}

.owl-theme .owl-nav .owl-next {
    right: 42px
}

.owl-theme .owl-nav .owl-prev {
    left: 42px
}

.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%
}

@media (max-width: 480px) {
    .owl-theme {
        margin-bottom: 60px
    }

    .owl-theme .item .caption {
        position: static
    }

    .owl-theme .owl-nav {
        display: none
    }

    .owl-theme .owl-dots {
        bottom: -40px
    }
}

.carousel-wrapper {
    position: relative
}

.carousel-loader {
    display: flex;
    width: 100%;
    height: .4rem
}

.loader-bar {
    width: 0;
    height: 100%;
    transition-property: width;
    background-color: #28c8e1
}

.case_study_con {
    background: #f4f4f4;
    padding: 45px 0 0 0
}

.case_study_text_con > span {
    color: #333;
    margin: 0 0 28px 0;
    font-size: 20px
}

.case_study_text_con h5 {
    margin: 0 0 10px 0
}

.case_study_text_list ul li {
    list-style: none
}

.case_study_text_list ul {
    margin: 0;
    padding: 0
}

.case_study_text_list ul li span {
    color: #007488;
    font-size: 20px;
    padding: 4px 0 5px 45px
}

.case_study_text_list ul li span.challange {
    background: url(../images/challenge_bg.jpg) no-repeat left top
}

.case_study_text_list ul li span.solution {
    background: url(../images/solution_bg.jpg) no-repeat left top
}

.case_study_head {
    margin: 0 0 20px 0
}

.controls {
    width: 100%;
    float: left
}

.mockups {
    width: 100%;
    float: left
}

.owl-carousel a {
    background-size: cover;
    display: block;
    font-weight: bolder;
    font-size: medium
}

.owl-carousel .owl-controls {
    display: none
}

#mockup-slider-titles h1 {
    font-family: sans-serif;
    text-align: center;
    color: #000;
    font-size: 2.5em;
    margin-top: 0
}

.controls {
    text-align: center;
    padding: 10px
}

.controls a {
    color: #fff;
    background-color: #ccc;
    text-decoration: none;
    font-family: sans-serif;
    padding: .5em 1em;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 500px;
    transition: .2s ease-in-out all
}

.controls a:hover {
    background-color: #16a085;
    color: #fff;
    border-color: #fff
}

.css-mb {
    max-width: 1200px;
    min-width: 50px;
    margin: 0 auto
}

.css-mb div {
    box-sizing: border-box !important
}

.css-mb .mb-display-position {
    width: 80%;
    margin: 0 auto
}

.css-mb .mb-display {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65.9442%;
    background: #373435;
    -webkit-border-top-left-radius: 3.5% 5.3075%;
    -moz-border-radius-topleft: 3.5% 5.3075%;
    border-top-left-radius: 3.5% 5.3075%;
    -webkit-border-top-right-radius: 3.5% 5.3075%;
    -moz-border-radius-toptight: 3.5% 5.3075%;
    border-top-right-radius: 3.5% 5.3075%
}

.css-mb .mb-display:before {
    content: '';
    display: block;
    position: absolute;
    top: 3%;
    left: 50%;
    width: 1%;
    height: 1.5164%;
    margin-left: -.5%;
    border-radius: 50%;
    background: #525252
}

.css-mb .mb-display:after {
    content: '';
    display: none;
    position: absolute;
    right: .4%;
    top: .64%;
    width: 62.5%;
    height: 100%;
    background: 0 0;
    background: -moz-linear-gradient(55deg, rgba(0, 0, 0, 0) 61%, rgba(255, 255, 255, .05) 61%);
    background: -webkit-linear-gradient(36deg, rgba(0, 0, 0, 0) 61%, rgba(255, 255, 255, .05) 61%);
    background: -o-linear-gradient(55deg, rgba(0, 0, 0, 0) 61%, rgba(255, 255, 255, .05) 61%);
    background: -ms-linear-gradient(55deg, rgba(0, 0, 0, 0) 61%, rgba(255, 255, 255, .05) 61%);
    background: linear-gradient(55deg, rgba(0, 0, 0, 0) 61%, rgba(255, 255, 255, .05) 61%);
    -webkit-border-top-right-radius: 5.3075%;
    -moz-border-radius-toptight: 5.3075%;
    border-top-right-radius: 5.3075%
}

.css-mb.with-glare .mb-display:after {
    display: block
}

.css-mb .mb-screen-position {
    position: absolute;
    top: 6.5%;
    width: 93.2%;
    left: 3.4%;
    height: 0;
    margin: 0;
    padding-bottom: 58.25%
}

.css-mb .mb-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff
}

.css-mb .mb-screen img {
    max-width: 100%;
    height: auto
}

.css-mb .mb-screen iframe {
    width: 100%;
    height: 100%;
    border: 0
}

.css-mb .mb-body {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 2.3%;
    background: #e6e7e8
}

.css-mb .mb-body:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 14.0740%;
    height: 0;
    padding-bottom: 1.4814%;
    margin-left: -7.037%;
    background: #a9abae;
    -webkit-border-bottom-left-radius: 7.0370% 50%;
    -moz-border-radius-bottomleft: 7.0370% 50%;
    border-bottom-left-radius: 7.0370% 50%;
    -webkit-border-bottom-right-radius: 7.0370% 50%;
    -moz-border-radius-bottomtight: 7.0370% 50%;
    border-bottom-right-radius: 7.0370% 50%
}

.css-mb .mb-bottom-cover {
    width: 100%;
    height: 0;
    padding-bottom: .7407%;
    background: #a9abae;
    -webkit-border-bottom-left-radius: 12% 600%;
    -moz-border-radius-bottomleft: 12% 600%;
    border-bottom-left-radius: 12% 600%;
    -webkit-border-bottom-right-radius: 12% 600%;
    -moz-border-radius-bottomtight: 12% 600%;
    border-bottom-right-radius: 12% 600%
}

.mockups .owl-next, .mockups .owl-next.disabled, .mockups .owl-prev, .mockups .owl-prev.disabled {
    display: none
}

.testimonial_con {
    background: url(../images/testimonial_sec_bg1.jpg) no-repeat left top;
    background-size: cover;
    padding: 200px 0 70px 0
}

.testimonial_head {
    margin-bottom: 15px
}

.client_word_con {
    position: relative;
    background: #c5dbdf;
    border-radius: 20px;
    padding: 20px 35px 60px 35px;
		min-height: 410px;
}

.client_word_con::after {
    position: absolute;
    bottom: 10px;
    content: "";
    left: 42%;
    background: url(../images/qoutes_sign.png) no-repeat center center;
    width: 73px;
    height: 45px
}

.client_word h4 {
    margin-bottom: 0
}

.client_img_holder {
    display: inline-block;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px
}

.client_img_holder img {
    width: 112px;
    height: 112px;
    border-radius: 50%
}

.client_img_con {
    margin: 0 0 20px 0
}

.rating {
    display: inline-block
}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0)
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    color: #ff8f00
}

.rating:not(:checked) > label:before {
    content: '★ '
}

.rating > input:checked ~ label {
    color: #1e90ff
}

.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: #1e90ff
}

.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #1e90ff
}

.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px
}

.our_services_con {
    padding: 30px 0 0 0 !important
}

.services_about_con {
    background: #f7f9f9;
    background: -moz-linear-gradient(45deg, #f7f9f9 0, #f4f4f4 39%, #f4f4f4 40%, #f4f4f4 42%, #f4f4f4 43%, #f4f4f4 43%, #e5e5e5 43%, #e5e5e5 43%, #e5e5e5 44%, #e5e5e5 44%, #eaeaea 100%);
    background: -webkit-linear-gradient(45deg, #f7f9f9 0, #f4f4f4 39%, #f4f4f4 40%, #f4f4f4 42%, #f4f4f4 43%, #f4f4f4 43%, #e5e5e5 43%, #e5e5e5 43%, #e5e5e5 44%, #e5e5e5 44%, #eaeaea 100%);
    background: linear-gradient(45deg, #f7f9f9 0, #f4f4f4 39%, #f4f4f4 40%, #f4f4f4 42%, #f4f4f4 43%, #f4f4f4 43%, #e5e5e5 43%, #e5e5e5 43%, #e5e5e5 44%, #e5e5e5 44%, #eaeaea 100%)
}

.about_left .case_study_head {
    margin-bottom: 25px
}

.about_text p.paragraph_text {
    font-size: 18px;
    padding: 0 100px 10px;
    margin-bottom: 30px
}

.readmore_btn a {
    text-decoration: underline
}

.readmore_btn {
    margin: 10px 0 25px 0
}

.readmore_btn a img {
    margin: -5px 0 0 0
}

.about_icon_inner {
    position: relative
}

.about_icon_inner img {
    margin: 0 0 20px 0
}

.about_icon_inner::before {
    position: absolute;
    top: 19px;
    left: 100%;
    content: "";
    background: #3ca3bf;
    width: 4px;
    height: 98px
}

.about_icon_bullet .col-md-4:last-child .about_icon_inner::before {
    display: none
}

.about_icon_inner img::before {
    background: #58929c;
    display: block;
    height: 20px;
    position: absolute;
    content: "";
    width: 5px;
    left: -1%
}

.about_us_con {
    padding: 90px 0
}

.tab_drawer_heading {
    display: none
}

@media screen and (max-width: 480px) {
    .tabs {
        display: none
    }

    .tab_drawer_heading {
        background-color: #333;
        color: #fff;
        font-size: 16px;
        border-top: 1px solid #fff;
        margin: 0;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .d_active {
        background-color: #1f7d96;
        color: #fff
    }
}

.logo_slider_con {
    background: #ffff;
    padding: 15px 0
}

.client_logo_con {
    background: #ffff #fff;
    height: 180px;
    border-radius: 20px;
    border: 2px solid #e2e3df;
    box-sizing: border-box;
    padding: 0 20px;
    display: table
}

.client_logo_inner {
    display: table-cell;
    vertical-align: middle
}

.footer_office_detail ul, .fotter_menu ul, ul.social-icons {
    margin: 0;
    padding: 0;
    list-style: none
}

.fotter_menu ul li {
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    padding-top: 20px
}

.fotter_menu ul li::after {
    position: absolute;
    content: "/";
    right: 0;
    bottom: -4px;
    font-size: 24px
}

.fotter_menu ul li:last-child::after {
    display: none
}

.fotter_inner {
    padding: 0 25px 0
}

.fotter_seprator_line {
    background: #dadada;
    height: 2px;
    margin: 0 0 15px 0
}

.fotter_content_heading {
    border-bottom: 2px solid #c3c0c0;
    margin: 0 0 30px 0;
    height: 46px
}

.fotter_content_text img {
    margin: 0 0 20px 0
}

.footer_office_detail ul {
    font-family: MontserratRegular;
    font-size: 16px;
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 20px 0 0
}

.footer_office_detail ul li.sub-heading {
    margin: 0 0 20px 0
}

.footer_office_detail {
    margin: 40px 0 0 0
}

.footer_office_detail ul:last-child {
    padding: 0 20px 0 0
}

.footer_office_detail ul li {
    float: left;
    width: 100%;
    margin: 0 0 15px 0
}

.fotter_copyright_sec_con {
    background: #097589;
    padding: 20px 0
}

.fotter_copyright_sec_inner p a:hover {
    color: #fff;
    text-decoration: underline
}

.social-icons {
    float: right
}

.social-icons li {
    float: left;
    margin: 0 4px;
    width: 30px;
    height: 30px;
    text-align: center
}

.social-icons li img {
    margin-top: 6px
}

.social-icons li.fb {
    background: #3360ad
}

.social-icons li.twiter {
    background: #23bbeb
}

.social-icons li.pintress {
    background: #ff0004
}

.social-icons li.linked-in {
    background: #178dc4
}

.footer_links {
    border-bottom: 2px solid #c3c0c0;
    margin: 0 0 30px 0;
    height: 46px;
    margin-bottom: 80px
}

.footer_links ul {
    list-style: none;
    font-size: 16px;
    margin-left: -13px;
    margin-top: 30px
}
.footer_logo_img>.img-responsive {
    margin-left: 20px;
}

.footer_links ul li {
    margin-bottom: 15px
}

.footer_links ul li a {
    color: #000
}

.footer_logo_img {
    margin-bottom: 30px
}

.footer_logo_text {
    margin: 15px 0 0;
    position: relative
}

.footer_logo_text:before {
    background: #58929c;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 5px;
    left: -1%
}

.footer_logo_text p {
    margin-left: 22px;
    margin-bottom: 10px
}

.caption .form-control {
    height: 46px
}

.caption .fbtn {
    background-color: #33889f;
    border: 2px solid #fff;
    color: #fff
}

.caption .fbtn:hover {
    background-color: #fff;
    color: #33889f;
    border: 2px solid #33889f
}


.main-contact{
    margin-top: 140px;
    margin-bottom: 50px;

}
.contact-details{
    padding-left: 40px;
}


img.img-responsive.responsive--full.wp-post-image {
    margin-top: 123px;
    float: left;
}






select#exampleFormControlSelect1 {
    min-width: 160%;
	color:black;
}
