.owl-theme .item .caption {
    position: absolute
}

.prouduct-icon-box-con a {
    border-radius: 15px
}

.product-icon-box {
    border-radius: 15px
}

.case_study_text_con {
    padding-top: 20px
}

.color-white {
    font-size: 12px
}

a.btn-info {
    border-radius: 0;
    margin-top: 19px;
    background-color: #1f7d96;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Hind Siliguri', sans-serif
}

.far, .fas {
    padding-right: 10px;
    color: #33889f
}

@media (max-width: 575.98px) {
    .has-children > a::before, .has-children > a::after {
        height: 0px
    }

    .has-children-custom > a::before, .has-children-custom > a::after {
        height: 2px !important
    }

    .view > a::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -1px;
        display: inline-block;
        height: 2px;
        width: 10px;
        background: #464c4e;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }

    .seo-table {
        display: none;
        font-size: 15px
    }

    .se0-caption h3 {
        text-align: center !important;
        margin-top: 40px !important;
        font-size: 35px !important;
        margin-bottom: 20px !important
    }

    .service_img img {
        width: 100%
    }

    .about_text p.paragraph_text {
        font-size: 18px;
        margin-bottom: 30px;
        padding: 0 4%;
        text-align: center
    }

    .testimonial_head .medium_font__Montserra {
        font-size: 22px !important
    }

    .footer_logo_text:before {
        background: #58929c;
        content: "";
        display: block;
        position: absolute;
        width: 0;
        left: -1%
    }

    .footer_logo_text p {
        text-align: center
    }

    .testimonial_head h4 {
        font-size: 22px !important
    }

    .testimonial_head p {
        font-size: 12px !important
    }

    .caption h3 {
        padding-top: 50px;
        margin-top: 100px
    }

    .caption p {
        visibility: hidden;
        font-size: 1px !important
    }

    .footer_links h5 {
        margin-top: 1px !important
    }

    .resposive.css {
        height: auto
    }

    body {
        text-align: center
    }

    .medium_font__Montserrat {
        font-family: 'MontserratMedium';
        font-size: 22px
    }

    .main-heading {
        padding-top: 30px
    }

    .paragraph_text {
        font-size: 13px
    }

    .about_text p.paragraph_text {
        font-size: 13px
    }

    .case_study_con {
        background: #f4f4f4;
        padding: 22px 0 0 0
    }

    .about_us_con {
        padding: 0px 0
    }

    .paragraph-text {
        font-size: 12px
    }

    .testimonial_con {
        background: url(../images/testimonial_sec_bg.jpg) no-repeat left top;
        background-size: cover;
        padding: 10px 0 70px 0
    }

    .logo_slider_con {
        margin-top: -50px !important
    }

    .owl-theme .item .caption {
        position: absolute;
        left: 0%;
        top: 69%;
        transform: translateY(-50%);
        padding: 20px;
        transition: opacity 0.3s;
        opacity: 0
    }

    .client_logo_con {
        width: 50%;
        margin: auto;
        height: 50%
    }

    .owl-carousel.owl-loaded {
        margin: auto
    }

    .fotter_content_heading h5 {
        font-size: 22px
    }

    .case_study_text_con {
        padding-top: 20px;
        text-align: center
    }

    .fotter_menu ul {
        display: none
    }

    .fotter_content_text img {
        margin: auto;
        padding-bottom: 10px;
        width: 200px
    }

    .fotter_content_heading {
        height: 80px
    }

    .fotter_content_heading h5 {
        font-size: 22px;
        margin-top: 20px
    }

    .footer_office_detail ul {
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        padding: 0 20px 0 0;
        margin-top: 100px
    }

    .fotter_inner {
        padding: 0px 0 0px 0
    }

    .caption {
        text-align: left
    }

    .caption h3 {
        padding-top: 0;
        margin-top: 0;
        font-size: 30px !important;
    }

    .caption p {
        font-size: 12px
    }

    .owl-theme .item .caption .btn {
        margin-top: 5px
    }

    .caption button {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 9px;
        border-color: black;
        margin-top: -15px !important;
        font-weight: 100
    }

    .caption button a {
        color: black
    }

    .product-icon-con {
        width: 100%;
        text-align: center;
        display: inline-block
    }

    .product-icon-box a, .product-icon-box img {
        margin: 15px 0 0 0
    }

    .our-product-con {
        background: #f4f4f4
    }

    .product-icon-box {
        width: 75%;
        padding-top: 30px;
        padding-bottom: 30px;
        background: #ffffff;
        -webkit-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        -moz-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        display: flow-root;
        margin: auto
    }

    .prouduct-icon-box-con a {
        width: 30%;
        margin: 5px;
        text-decoration: none;
        height: 85px;
        padding: 0em 1em
    }

    .our-product-bg {
        padding-bottom: 0px
    }

    ul.tabs li {
        margin: auto;
        width: 40%;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding: 5px 5px;
        box-sizing: border-box;
        text-align: center
    }

    ul.tabs {
        padding: 0;
        float: left;
        list-style: none;
        width: 100%;
        margin: 0 0 60px 0
    }

    .tabs_head_inner {
        min-height: 219px;
        padding: 30px 0;
        background: #fff;
        border: 2px solid #e4e4e4;
        border-radius: 20px
    }

    ul.tabs li span {
        text-align: center;
        margin: 0 0 20px 0;
        width: 100%;
        float: left
    }

    ul.tabs li span img {
        display: inline-block
    }

    tabs_head_inner:hover {
        background-color: #197e98;
        color: #fff
    }

    ul.tabs li.active .tabs_head_inner {
        background-color: #197e98;
        color: #fff;
        display: block
    }

    .service_txt {
        padding: 60px 0 0 0
    }

    .tab_container {
        clear: both;
        float: left;
        width: 100%;
        overflow: auto
    }

    .tab_content {
        padding: 20px;
        display: none
    }

    .color-white {
        font-kerning: 10px
    }

    .social {
        display: flex;
        align-content: center;
        justify-content: center;
        padding-top: 10px
    }

    .about_icon_inner::before {
        width: 0
    }

    .about_banner_content h1 {
        font-size: 35px;
        text-align: left;
        margin-top: 39px
    }

    .about_banner_content p {
        font-size: 16px;
        text-align: left
    }

    .projects-section {
        padding: 0 0
    }

    .project-text h4.text-white {
        font-size: 35px
    }

    .project-text p {
        font-size: 12px !important
    }

    .main-blogs {
        margin-top: 0 !important
    }

    .main-blogs .card-title {
        font-size: 16px
    }

    .main-blogs .card-text {
        font-size: 12px
    }

    .cd-secondary-nav h2 {
        display: none
    }

    .cd-secondary-nav hr {
        display: none
    }

    .has-children ul p {
        color: #fff;
        display: none
    }

    .cd-main-header {
        position: fixed;
        width: 100%;
        height: 87px
    }

    .hh .rbtn {
        display: none
    }

    .cd-header-buttons li {
        margin-top: 12px;
        margin-left: -40px
    }

    i.fas.fa-mobile-alt {
        font-size: 20px
    }

    .cd-logo img {
        margin-top: -14px
    }

    .cd-search-trigger, .cd-nav-trigger {
        top: 43px
    }

    .image-aboutus-banner {
        background: url(../images/About-us1.jpg) no-repeat;
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center center;
        color: Black;
        font-weight: normal;
        font-style: normal;
        font-family: 'hurme_geometric_sans_1SBd'
    }

    .services-img {
        margin-top: 87px
    }

    section#contact .form-group input, section#contact .form-group textarea {
        padding: 9px
    }

    .col-lg-12.text-center.contact {
        margin-top: 50px !important
    }

    section h3.section-subheading {
        margin-bottom: 0px
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .col-lg-12.text-center.contact {
        margin-top: 50px !important
    }

    section h3.section-subheading {
        margin-bottom: 0px
    }

    section#contact .form-group input, section#contact .form-group textarea {
        padding: 10px
    }

    .cd-secondary-nav h2 {
        display: none
    }

    .cd-secondary-nav hr {
        display: none
    }

    .has-children ul p {
        color: #fff;
        display: none
    }

    .has-children > a::before, .has-children > a::after {
        height: 0px
    }

    .has-children-custom > a::before, .has-children-custom > a::after {
        height: 2px !important
    }

    .view > a::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -1px;
        display: inline-block;
        height: 2px;
        width: 10px;
        background: #464c4e;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }

    .seo-table {
        display: none;
        font-size: 15px
    }

    body {
        text-align: center
    }

    .has-children ul p {
        color: #fff
    }

    .client_logo_con {
        margin: auto
    }

    .fotter_content_text img {
        margin: auto;
        padding-bottom: 10px;
        width: 300px
    }

    .fotter_menu ul {
        display: none
    }

    .fotter_inner {
        padding: 0px 0 0px 0
    }

    .footer_office_detail ul {
        margin-top: 128px
    }

    .fotter_content_heading {
        height: 170px
    }

    .caption {
        text-align: left;
        margin-top: 0
    }

    .caption h3 {
        padding-top: 0;
        margin-top: 0;
        font-size: 30px
    }

    .caption p {
        font-size: 12px
    }

    .caption button {
        font-size: 9px
    }

    .product-icon-con {
        width: 100%;
        text-align: center;
        display: inline-block
    }

    .product-icon-box a, .product-icon-box img {
        margin: 15px 0 0 0
    }

    .our-product-con {
        background: #f4f4f4
    }

    .product-icon-box {
        width: 35%;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #ffffff;
        -webkit-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        -moz-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        display: flow-root;
        margin: auto
    }

    .paragraph_text {
        padding-bottom: 20px
    }

    .prouduct-icon-box-con a {
        width: 30%;
        margin: 5px;
        text-decoration: none;
        height: 85px;
        padding: 0em 1em
    }

    .our-product-bg {
        padding-bottom: 0px
    }

    ul.tabs li {
        margin: auto;
        width: 40%;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding: 5px 5px;
        box-sizing: border-box;
        text-align: center
    }

    ul.tabs {
        padding: 0;
        float: left;
        list-style: none;
        width: 100%;
        margin: 0 0 60px 0
    }

    .tabs_head_inner {
        min-height: 219px;
        padding: 30px 0;
        background: #fff;
        border: 2px solid #e4e4e4;
        border-radius: 20px
    }

    ul.tabs li span {
        text-align: center;
        margin: 0 0 20px 0;
        width: 100%;
        float: left
    }

    ul.tabs li span img {
        display: inline-block
    }

    tabs_head_inner:hover {
        background-color: #197e98;
        color: #fff
    }

    ul.tabs li.active .tabs_head_inner {
        background-color: #197e98;
        color: #fff;
        display: block
    }

    .service_txt {
        padding: 60px 0 0 0
    }

    .tab_container {
        clear: both;
        float: left;
        width: 100%;
        overflow: auto
    }

    .tab_content {
        padding: 20px;
        display: none
    }

    .social {
        display: flex;
        align-content: center;
        justify-content: center;
        padding-top: 10px
    }

    .hh .rbtn {
        display: none
    }

    .cd-header-buttons li {
        margin-top: 12px;
        margin-left: -40px
    }

    .cd-logo img {
        margin-top: -3px
    }

    .cd-search-trigger, .cd-nav-trigger {
        top: 43px
    }

    .cd-main-header {
        height: 83px
    }

    .image-aboutus-banner {
        background: url(../images/About-us1.jpg) no-repeat;
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center center;
        color: Black;
        font-weight: normal;
        font-style: normal;
        font-family: 'hurme_geometric_sans_1SBd'
    }

    .about_banner_content h1 {
        color: white;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
        margin-top: 110px;
        text-align: left
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .cd-secondary-nav h2 {
        display: none
    }

    .cd-secondary-nav hr {
        display: none
    }

    .has-children ul p {
        color: #fff;
        display: none
    }

    .has-children > a::before, .has-children > a::after {
        height: 0px
    }

    .has-children-custom > a::before, .has-children-custom > a::after {
        height: 2px !important
    }

    .view > a::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -1px;
        display: inline-block;
        height: 2px;
        width: 10px;
        background: #464c4e;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }

    .seo-table {
        display: none;
        font-size: 15px
    }

    h2.change1 {
        padding-top: 12px
    }

    h2.change2 {
        padding-top: 5px
    }

    h2.change4 {
        padding-top: 14px
    }

    .product-icon-con {
        width: 100%;
        text-align: center;
        display: inline-block
    }

    .change img {
        padding-bottom: 9px
    }

    .product-icon-box a, .product-icon-box img {
        margin: 15px 0 0 0
    }

    .our-product-con {
        background: #f4f4f4;
        padding: 70px 0 0 0
    }

    .product-icon-box img, .product-icon-box h2 {
        display: inline-block;
        vertical-align: middle
    }

    .product-icon-box {
        max-width: 600px
    }

    .product-icon-box img {
        width: 20%
    }

    .product-icon-box h2 {
        width: 75%;
        margin-left: 10px
    }

    .prouduct-icon-box-con {
        width: 100%;
        float: unset;
        text-align: center
    }

    .prouduct-icon-box-con a {
        width: 30%;
        display: inline-block;
        background: #ffffff;
        -webkit-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        -moz-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        margin: 5px;
        text-decoration: none;
        height: 135px;
        padding: 0em 1em
    }

    .paragraph_text {
        font-size: 15px
    }

    .fotter_content_heading {
        height: 140px
    }

    .footer_office_detail ul {
        margin-top: 100px
    }

    ul.tabs li {
        float: left;
        margin: 0;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding: 5px 5px;
        box-sizing: border-box;
        width: 33%;
        text-align: center
    }

    ul.tabs {
        padding: 0;
        float: left;
        list-style: none;
        width: 100%;
        margin: 0 0 60px 0
    }

    ul.tabs li.active img#service-icon_1.tabs_head_inner {
        content: url(/assets/images/service_icon_1_hover.png)
    }

    ul.tabs li.active img#service-icon_2.tabs_head_inner {
        content: url(/assets/images/service_icon_2_hover.png)
    }

    ul.tabs li.active img#service-icon_3.tabs_head_inner {
        content: url(/assets/images/service_icon_3_hover.png)
    }

    ul.tabs li.active img#service-icon_4.tabs_head_inner {
        content: url(/assets/images/service_icon_4_hover.png)
    }

    ul.tabs li.active img#service-icon_5.tabs_head_inner {
        content: url(/assets/images/service_icon_5_hover.png)
    }

    .tabs_head_inner {
        min-height: 219px;
        padding: 30px 0;
        background: #fff;
        border: 2px solid #e4e4e4;
        border-radius: 20px
    }

    ul.tabs li span {
        text-align: center;
        margin: 0 0 20px 0;
        width: 100%;
        float: left
    }

    ul.tabs li span img {
        display: inline-block
    }

    .tabs_head_inner:hover {
        background-color: #197e98;
        color: #fff
    }

    ul.tabs li.active .tabs_head_inner {
        background-color: #197e98;
        color: #fff;
        display: block
    }

    .service_txt {
        padding: 60px 0 0 0
    }

    .tab_container {
        clear: both;
        float: left;
        width: 100%;
        overflow: auto
    }

    .tab_content {
        padding: 20px;
        display: none
    }

    .has-children ul p {
        color: white;
        margin-left: 30px
    }

    .hh .rbtn {
        display: none
    }

    .cd-header-buttons li {
        margin-top: 12px;
        margin-left: -40px
    }

    .cd-logo img {
        margin-top: -3px
    }

    .cd-search-trigger, .cd-nav-trigger {
        top: 43px
    }

    .cd-main-header {
        height: 83px
    }

    .image-aboutus-banner {
        background: url(../images/About-us1.jpg) no-repeat;
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center center;
        color: Black;
        font-weight: normal;
        font-style: normal;
        font-family: 'hurme_geometric_sans_1SBd'
    }

    .about_banner_content h1 {
        color: white;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
        margin-top: 110px;
        text-align: left
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .has-children ul p {
        color: white;
        margin-left: 30px
    }

    h2.change2 {
        padding-top: 10px
    }

    h2.change4 {
        padding-bottom: 16px
    }

    .product-icon-con {
        width: 100%;
        text-align: center;
        display: inline-block
    }

    .product-icon-box a, .product-icon-box img {
        margin: 15px 0 0 0
    }

    .our-product-con {
        background: #f4f4f4;
        padding: 70px 0 0 0
    }

    .product-icon-box img, .product-icon-box h2 {
        display: inline-block;
        vertical-align: middle
    }

    .product-icon-box {
        max-width: 600px
    }

    .product-icon-box img {
        width: 20%
    }

    .product-icon-box h2 {
        width: 75%;
        margin-left: 10px
    }

    .prouduct-icon-box-con {
        width: 100%;
        float: unset;
        text-align: center
    }

    .prouduct-icon-box-con a {
        width: 30%;
        display: inline-block;
        background: #ffffff;
        -webkit-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        -moz-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        margin: 5px;
        text-decoration: none;
        height: 139px;
        padding: 0em 1em
    }

    .paragraph_text {
        font-size: 18px
    }

    .footer_office_detail ul {
        margin-top: 100px
    }

    .fotter_content_heading {
        height: 145px
    }

    ul.tabs {
        padding: 0;
        float: left;
        list-style: none;
        width: 100%;
        margin: 0 0 60px 0
    }

    ul.tabs li {
        float: left;
        margin: 0;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding: 0 5px;
        box-sizing: border-box;
        width: 20%;
        text-align: center
    }

    .tabs_head_inner {
        min-height: 219px;
        padding: 30px 0;
        background: #fff;
        border: 2px solid #e4e4e4;
        border-radius: 20px
    }

    ul.tabs li span {
        text-align: center;
        margin: 0 0 20px 0;
        width: 100%;
        float: left
    }

    ul.tabs li span img {
        display: inline-block
    }

    tabs_head_inner:hover {
        background-color: #197e98;
        color: #fff
    }

    ul.tabs li.active .tabs_head_inner {
        background-color: #197e98;
        color: #fff;
        display: block
    }

    .service_txt {
        padding: 60px 0 0 0
    }

    .tab_container {
        clear: both;
        float: left;
        width: 100%;
        overflow: auto
    }

    .tab_content {
        padding: 20px;
        display: none
    }

    .has-children ul p {
        color: #fff
    }

    .hh .rbtn {
        display: none
    }

    .cd-header-buttons li {
        margin-top: 12px;
        margin-left: -40px
    }

    .cd-logo img {
        margin-top: -3px
    }

    .cd-search-trigger, .cd-nav-trigger {
        top: 43px
    }

    .cd-main-header {
        height: 83px
    }

    .image-aboutus-banner {
        background: url(../images/About-us1.jpg) no-repeat;
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center center;
        color: Black;
        font-weight: normal;
        font-style: normal;
        font-family: 'hurme_geometric_sans_1SBd'
    }

    .about_banner_content h1 {
        color: white;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
        margin-top: 110px;
        text-align: left
    }
}

@media (min-width: 1200px) {
    .services-img {
        margin-top: 120px
    }

    .product-icon-con {
        width: 100%;
        text-align: center;
        display: inline-block
    }

    .product-icon-box a, .product-icon-box img {
        margin: 15px 0 0 0
    }

    .our-product-con {
        background: #f4f4f4;
        padding: 70px 0 0 0;
        display: none
    }

    .product-icon-box img, .product-icon-box h2 {
        display: inline-block;
        vertical-align: middle
    }

    .product-icon-box {
        max-width: 600px
    }

    .product-icon-box img {
        width: 20%
    }

    .product-icon-box h2 {
        width: 75%;
        margin-left: 10px
    }

    .prouduct-icon-box-con {
        width: 100%;
        float: left;
        text-align: center
    }

    .prouduct-icon-box-con a {
        width: 30%;
        display: inline-block;
        background: #ffffff;
        -webkit-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        -moz-box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        box-shadow: -2px 2px 11px 0px rgb(197, 197, 197);
        margin: 5px;
        text-decoration: none;
        height: 85px;
        text-align: left;
        padding: 0em 1em
    }

    ul.tabs {
        padding: 0;
        float: left;
        list-style: none;
        width: 100%;
        margin: 0 0 20px 0
    }

    ul.tabs li {
        float: left;
        margin: 0;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding: 0 5px;
        box-sizing: border-box;
        width: 20%;
        text-align: center
    }

    .tabs_head_inner {
        min-height: 193px;
        padding: 23px 0;
        background: #fff;
        border: 2px solid #e4e4e4;
        border-radius: 20px
    }

    ul.tabs li span {
        text-align: center;
        margin: 0 0 20px 0;
        width: 100%;
        float: left
    }

    ul.tabs li span img {
        display: inline-block
    }

    tabs_head_inner:hover {
        background-color: #197e98;
        color: #fff
    }

    ul.tabs li.active .tabs_head_inner {
        background-color: #197e98;
        color: #fff;
        display: block
    }

    .service_txt {
        padding: 0px 0 0 0;
        margin-top: 50px
    }

    .tab_container {
        clear: both;
        float: left;
        width: 100%;
        overflow: auto
    }

    .tab_content {
        display: none
    }

    .has-children ul p .sbtn {
        display: none;
        background-color: #FFFFFF;
        color: black;
        padding: 10px;
        margin-top: 20px
    }
}

.toggle-text {
    display: none
}

@media (min-width: 576px) and (max-width: 1200px) {
    .cd-main-content {
        margin-top: -87px !important
    }
}

@media (min-width: 1200px) {
    .cd-main-content {
        margin-top: 0px !important
    }
}

@media (max-width: 575.98px) {
    .cd-main-content {
        margin-top: 0px !important
    }

    .canada-office {
        margin-top: 10px !important
    }
}

.tabs li:first-child.active .service_icon_01 {
    background: url(../images/service_icon_1_hover.png) no-repeat center center
}

.tabs li:first-child:hover .service_icon_01 {
    background: url(../images/service_icon_1_hover.png) no-repeat center center
}

.tabs li:nth-child(2):hover .service_icon_02 {
    background: url(../images/service_icon_2_hover.png) no-repeat center center
}

.tabs li:nth-child(3):hover .service_icon_03 {
    background: url(../images/service_icon_3_hover.png) no-repeat center center
}

.tabs li:nth-child(4):hover .service_icon_04 {
    background: url(../images/Web-Devlopment-1.png) no-repeat center center
}

.tabs li:nth-child(2).active .service_icon_02 {
    background: url(../images/service_icon_2_hover.png) no-repeat center center
}

.tabs li:nth-child(3).active .service_icon_03 {
    background: url(../images/service_icon_3_hover.png) no-repeat center center
}

.tabs li:nth-child(4).active .service_icon_04 {
    background: url(../images/service_icon_4_hover.png) no-repeat center center
}

.tabs li:nth-child(2).active .service_icon_02 {
    background: url(../images/service_icon_2_hover.png) no-repeat center center
}

.tabs li:nth-child(3).active .service_icon_03 {
    background: url(../images/service_icon_3_hover.png) no-repeat center center
}

.tabs li:nth-child(4).active .service_icon_04 {
    background: url(../images/Web-Devlopment-1.png) no-repeat center center
}

.tabs li:last-child.active .service_icon_05 {
    background: url(../images/service_icon_5_hover.png) no-repeat center center
}

.tabs li:hover .tabs_head_inner {
    background-color: #197e98;
    color: #fff
}

.service_icon_01 {
    background: url(../images/service_icon_1_HH.png) no-repeat center center;
    height: 83px;
    margin: 0px 0px 20px 0px
}

.service_icon_01:hover {
    background: url(../images/service_icon_1_hover.png) no-repeat center center;
    height: 83px
}

.service_icon_02 {
    background: url(../images/service_icon_2_HH.png) no-repeat center center;
    height: 83px;
    margin: 0px 0px 20px 0px
}

.service_icon_02:hover {
    background: url(../images/service_icon_2_hover.png) no-repeat center center;
    height: 83px
}

.service_icon_03 {
    background: url(../images/service_icon_3_HH.png) no-repeat center center;
    height: 83px;
    margin: 0px 0px 20px 0px
}

.service_icon_03:hover {
    background: url(../images/service_icon_3_hover.png) no-repeat center center;
    height: 83px
}

.service_icon_04 {
    background: url(../images/Web-Devlopment.png) no-repeat center center;
    height: 83px;
    margin: 0px 0px 20px 0px
}

.service_icon_04:hover {
    background: url(../images/Web-Devlopment_hover.png) no-repeat center center;
    height: 83px
}

.service_icon_05 {
    background: url(../images/service_icon_5_HH.png) no-repeat center center;
    height: 83px;
    margin: 0px 0px 20px 0px
}

.service_icon_05:hover {
    background: url(../images/service_icon_5_hover.png) no-repeat center center;
    height: 83px
}

#page #ip-container {
    margin-top: -30px;
}