@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/

body{
    font-size: 16px !important;
    background-color: white;

}

a{
    text-decoration: none !important;
}

.board {
    width: 100%;
    margin: 60px auto;

    background: #fff;
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}

.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;
}

.board > div.board-inner {

}

p.narrow {
    width: 60%;
    margin: 10px auto;
}



.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one {
    color: rgb(34, 194, 34);
    border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one {
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two {
    color: #febe29;
    border: 2px solid #febe29;
}

li.active span.round-tabs.two {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three {
    color: #3e5e9a;
    border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four {
    color: #f1685e;
    border: 2px solid #f1685e;
}

li.active span.round-tabs.four {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five {
    color: #999;
    border: 2px solid #999;
}

li.active span.round-tabs.five {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs {
    background: #fafafa;
}

.nav-tabs > li {
    width: 25%;
}
/*li.active:before {
content: " ";
position: absolute;
left: 45%;
opacity:0;
margin: 0 auto;
bottom: -2px;
border: 10px solid transparent;
border-bottom-color: #fff;
z-index: 1;
transition:0.2s ease-in-out;
}*/

.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition: 0.1s ease-in-out;
}



.nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.nav-tabs > li a:hover {
    background: transparent;
}

.tab-content {

    margin-top: 160px;

}

.tab-content .head {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.btn-outline-rounded {
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green {
    background-color: #5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}

@media( max-width: 585px) {
    .board {
        width: 90%;
        height: auto !important;
    }
    span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .tab-content .head {
        font-size: 20px;
    }
    .nav-tabs > li a {
        width: 50px;
        height: 50px;

    }
    .nav-tabs > li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .btn-outline-rounded {
        padding: 12px 20px;
    }
}

select.form-control.input-sm {
    background: #00a1ff !important;
    border: 0px !important;
    border-radius: 0px !important;
    color: #FFF !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
}

.pagination>li>a,
.pagination>li>span {
    background: #00a1ff !important;
    border: 0px !important;
    border-radius: 0px !important;
    color: #FFF !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #00a1ff!important;
    color: #000!important;
    font-size: 13px!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500!important;
}

tr.even {
    background: #bfbfbf!important;
    color: #000!important;
    font-size: 13px!important;
    font-weight: 500!important;
    font-family: 'Roboto', sans-serif;
}

th.sorting,
.sorting_asc {
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
    border: 1px solid #FFF !important;
    color: #FFF;
    border: 1px solid #93CE37;
    border-bottom: 3px solid #9ED929;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#30b3ff+0,00a1ff+100 */
    background: rgb(48, 179, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(48, 179, 255, 1) 0%, rgba(0, 161, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(48, 179, 255, 1) 0%, rgba(0, 161, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(48, 179, 255, 1) 0%, rgba(0, 161, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#30b3ff', endColorstr='#00a1ff', GradientType=0);
    /* IE6-9 */
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main {
    margin-top: 5px;
    margin-bottom: 25px;
}

input.form-control.input-sm {
    background: #00a1ff !important;
    border: 0px !important;
    border-radius: 0px !important;
    color: #FFF !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
}


/*my style*/


.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {

    padding: 12px !important;

}

.basic_tab>tbody>tr:nth-child(odd)>td, .basic_tab>tbody>tr:nth-child(odd)>th {
    background-color: #e7faff !important;
    font-size: 16px;
}

.standard_tab>tbody>tr:nth-child(odd)>td, .basic_tab>tbody>tr:nth-child(odd)>th {
    background-color: #adc6d4 !important;
    font-size: 16px;
}

.Premium_tab>tbody>tr:nth-child(odd)>td, .basic_tab>tbody>tr:nth-child(odd)>th {
    background-color: #6ba8ab !important;
    font-size: 16px;
}

.Executive_tab>tbody>tr:nth-child(odd)>td, .basic_tab>tbody>tr:nth-child(odd)>th {
    background-color: #72a1ca !important;
    font-size: 16px;
}





.tabinner_con{
    width: 100%;
    float: left;
    position: relative;
}
.tabinner_con::before{
    position: absolute;
    height: 135px;
    background: #00a1ff;
    content: "";
    top:0;
    left:0;
    z-index: 0;
    width: 100%;
}

.tabinner_con2{
    width: 100%;
    float: left;
    position: relative;
}
.tabinner_con2::before{
    position: absolute;
    height: 135px;
    background: #44a2d4;
    content: "";
    top:0;
    left:0;
    z-index: 0;
    width: 100%;
}


.tabinner_con3{
    width: 100%;
    float: left;
    position: relative;
}
.tabinner_con3::before{
    position: absolute;
    height: 135px;
    background: #2972b0;
    content: "";
    top:0;
    left:0;
    z-index: 0;
    width: 100%;
}


.tabinner_con4{
    width: 100%;
    float: left;
    position: relative;
}
.tabinner_con4::before{
    position: absolute;
    height: 135px;
    background: #052744;
    content: "";
    top:0;
    left:0;
    z-index: 0;
    width: 100%;
}

.tabinner{
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    float: left;

}
.Basic{
    width: 100% !important;
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
}
.tabinner_con h3{
    color: #fff;
    font-size: 13px;
    margin: 0;
}
.price_con{
    width: 150px;
    height:150px;
    color: #00a1ff;
    font-size: 20px;
    border-radius: 50%;
    border: 10px solid #fff;
    box-sizing: border-box;
    display: inline-block;
}
.price_inner{
    width: 130px;
    height:130px;
    background: #FFFFFF;
    font-size: 20px;
    border-radius: 50%;
    color: #c1c1c1;
    font-size: 15px;
    box-shadow: inset 2px 1px 18px #bdbdbd;;
    padding-top: 25px;
}

.tabinner h3{
    font-size: 30px;
    margin: 20px 0px;
    color: white;
}

.price_inner span{
    font-size: 30px;
    color: #00a1ff;
}


.Basic{
    text-align: center;
    background-color: #64c3de;

    border: 1px solid white;

}
.Basic a{
    text-decoration: none;
}

.Basic h5{
    color: white;
    font-size: 30px;
}


i.fas.fa-times {
    color: #9dcd21;
    font-size: 15px;
}

i.fas.fa-check {
    color: #ef3f30;
    font-size: 15px;
}

.Basic-content p{
    font-size: 40px;
    color: white;
}
.Basic-content span{
    font-size: 12px;
}



.standard{
    text-align: center;
    background-color: #44a2d4;

    border: 1px solid white;

}
.standard a{
    text-decoration: none;
}

.standard h5{
    color: white;
    font-size: 30px;
}

.standard-content p{
    font-size: 40px;
    color: white;
}
.standard-content span{
    font-size: 12px;
}



.Premium{
    text-align: center;
    background-color: #2972b0;

    border: 1px solid white;

}
.Premium a{
    text-decoration: none;
}

.Premium h5{
    color: white;
    font-size: 30px;
}

.Premium-content p{
    font-size: 40px;
    color: white;
}
.Premium-content span{
    font-size: 12px;
}



.Executive{
    text-align: center;
    background-color: #052744;

    border: 1px solid white;

}
.Executive a{
    text-decoration: none;
}


.page_content{
    width: 100%;
	background-color: white;
	margin-top: 350px;

}

.page_content p{

    margin-top: 20px;
    font-size: 19px;
    text-align: center;
}

.tab_wraper{
    width: 100%;

    background-color: white;
}










/*rexponsive*/
@media screen and (max-width: 1200px){






}






@media screen and (max-width: 990px){


}





@media screen and (max-width: 767px){

.price_inner{
    width: 90px;
    height: 90px;
    padding-top: 10px;
}
    .price_con{
        width: 102px;
        height: 101px;
        border: 6px solid #fff;
    }

    .tabinner h3{

        font-size: 25px;
    }
    .price_inner span{
        font-size: 25px;
    }







}



@media screen and (max-width: 576px){


    .price_inner{
        width: 60px;
        height: 60px;
        padding-top: 10px;
        font-size: 10px;
    }
    .price_con{
        width: 72px;
        height: 71px;
        border: 6px solid #fff;
    }

    .tabinner h3{

        font-size: 15px;
    }
    .price_inner span{
        font-size: 18px;
    }










}




@media screen and (max-width: 320px){


}




