@charset "utf-8";
@media (max-width: 575.98px) {
    .sticky-container {
        padding: 0px;
        margin: 0px;
        position: fixed;
        right: -139px;
        top: 230px;
        width: 170px;
        z-index: 1100
    }

    .sticky li {
        list-style-type: none;
        background-color: #e0dcdc;
        color: #efefef;
        height: 43px;
        padding: 0px;
        margin: 0px 0px 1px 0px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        border-radius: 25px;

    }

    .sticky li p {
        display: none
    }

    .sticky li:hover p {
        display: block;
        letter-spacing: 3px
    }

    .sticky li:hover {
        margin-left: -218px
    }

    .sticky li img {
        float: left;
        margin: 5px 4px;
        margin-right: 5px
    }

    .sticky li p {
        padding-top: 13px;
        margin: 0px;
        line-height: 16px;
        font-size: 16px
    }

    .sticky li p a {
        text-decoration: none;
        color: #2C3539;
        margin-left: -139px !important;
        font-size: 12px
    }

    .sticky li p a:hover {
        text-decoration: underline
    }

    .btn-default a {
        color: white
    }

    .btn-warning {
        background-color: #FF9800;
        border-color: #FF9800
    }

    .btn-warning a {
        color: #fff
    }
}

.sticky-container {
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: -90px;
    top: 230px;
    width: 170px;
    z-index: 1100
}

.sticky li {
    list-style-type: none;
    background-color: #e0dcdc;
    color: #efefef;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 39px;
}

.sticky li p {
    display: none
}

.sticky li:hover p {
    display: block;
    letter-spacing: 3px
}

.sticky li:hover {
    margin-left: -167px
}

.sticky li img {
    float: left;
    margin: 5px 4px;
    margin-right: 5px
}

.sticky li p {
    padding-top: 13px;
    margin: 0px;
    line-height: 16px;
    font-size: 16px
}

.sticky li p a {
    text-decoration: none;
    color: #2C3539;
    margin-left: 10px
}

.sticky li p a:hover {
    text-decoration: underline
}

.btn-default a {
    color: white
}

.btn-warning {
    background-color: #FF9800;
    border-color: #FF9800
}

.btn-warning a {
    color: #fff
}