


.carousel-item {

    height: 100vh;

    min-height: 350px;

    background: no-repeat center center scroll;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

}

.hvr-fade:hover i.icn::before{

    color: white;

}

.hvr-fade:hover button.btn-info{

    background-color: white;

    border-color: red;

    color: #0b2e13;

}

button.btn-info{

    background-color: #009add;

}

.hvr-fade{

    border: 1px solid;

    border-color: #d3d3d33b;

}

.text-faded{color: white}

.hvr-fades {

    display: inline-block;

    vertical-align: middle;

    -webkit-transform: perspective(1px) translateZ(0);

    transform: perspective(1px) translateZ(0);

    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    overflow: hidden;

    -webkit-transition-duration: 0.3s;

    transition-duration: 0.3s;

    -webkit-transition-property: color, background-color;

    transition-property: color, background-color;

}

.hvr-fades:hover, .hvr-fades:focus, .hvr-fades:active {

    background-color: white;

    color: #1d809f;

}

.hvr-fades:hover .text-faded{

    font-weight: bold;

    color: #1d809f}

.hvr-fades:hover .service-icon i{
    color: #fff;
}
.hvr-fades:hover .service-icon{
	background-color:#1d809f;
}


.footer-blog{

    text-align: left;

}

@media (min-width: 768px) and (max-width: 991px) {



    .navbar-collapse.collapse {

        display: none!important;

        height: auto!important;

        padding-bottom: 0;

        overflow: visible!important;

    }

    .navbar-nav {

        float: left;

        width: 100%;

        text-align: center;

        display: inherit!important;

    }

    .navbar-nav > li {

        display: inline-block;

        float: none;

        margin: 10px!important;

    }

    .crmbtn{

        margin-top: 0!important;

    }

    #mainNav .navbar-toggler{

        visibility: hidden;

    }



}

@media (min-width: 576px) and (max-width: 767.98px) {



    .container:before, .container:after {

        display: none!important;

        content: " ";

    }

    #mainNav .navbar-toggler {

        font-size: 12px;

        right: 0;

        padding: 13px;

        text-transform: uppercase;

        color: #fff;

        border: 0;

        background-color: #009add;

    }

}

@media (max-width: 575.98px) {

    .container:before, .container:after {

        display: none!important;

        content: " ";

    }

    #mainNav .navbar-toggler {

        font-size: 12px;

        right: 0;

        padding: 13px;

        text-transform: uppercase;

        color: #fff;

        border: 0;

        background-color: #009add;
margin-left: 94px;
    }
.carousel-item{ height:100% !important;
width:100% !important;}
}