@media (min-width: 320px) and (max-width: 767.98px) {
    .section-title h1 {
        font-size: 27px;!important;
    }
    .page-section {
        padding: 10px 0;
    }
    .btn.btn-lg {
        font-size: 15px;
        padding: 7px 22px;
    }
    .try-it h3{
        font-size: 20px;
    }
    .paraaa{
        font-size: 18px;
    }
}