@import url("hover-min.css");

body,

html {

    width: 100%;

    height: 100%;

    margin: 0px;

    padding: 0px;

    overflow-x: hidden;

    background-color: #f4f4f4;

    font-family: 'Hind Siliguri', sans-serif;

    text-decoration: none;

}

a:hover{

    color: white;

}

/*

.container-fluid {

    padding-right: 0px;

    padding-left: 0px;

}



*/

.container { 

    

}

/* no.1 logo and phone */

.head{

    background-color: #ffffff;

}

.logo img {

    width: 35px;

}

.number {

    float: right;

    color: #3489a0;

    margin-bottom: 0px;

}

/* no.2 cover and heading*/

.heading{

    display: table-cell;

    vertical-align: middle;

    padding-top: 40px;

}

.heading h1 {

    font-weight: 600;

    font-size: 55px;

    text-transform: uppercase;

    color: #3489a0;

}

.heading h2 {

    font-weight: 600;

    font-size: 31px;

    line-height: 0;

    word-spacing: 1px;

    color: #3489a0;

}

.heading p {

    font-weight: 600;

    font-size: 18px;

    padding-top: 30px;

}



/*  no.3 side details with person photo */

.details h2 {

    text-transform: uppercase;

    font-weight: 600;

    color: #3489a0;

}

.description {

    font-weight: 600;

}

.section {

/*    margin-bottom: 20px;*/

}

.user-name {

    margin-left: 10px;

    font-weight: 600;

    color: #3489a0;

    margin-bottom: 0px;

}

.user-detail {

    margin-left: 10px;

    font-weight: 300;

    font-size: 15px;

}



/* no.4 midlle cover with heading*/



.middle {

    background: url("../img/fmiddle.png") center center no-repeat;

    height: 250px;

    width: 100%;

    background-size: cover;

    display: table;

}

.text {

    color: white;

    display: table-cell;

    vertical-align: middle;

    text-align: center;

}



/* no.5 laptop photo section with side details */

.secondlast h2 , i {

    color: #3489a0;

}

.bullets{

    font-size: 15px;

}

.bullets ul{

    list-style-type: none;

    padding-left: 0;

}





/* media queries */

@media (min-width: 991.98px) {

    .person-pic{

        display: grid;

        place-items: center;

        align-items: center;

        justify-items: center;

    }

}

@media (max-width: 991.98px)  {

    .head{

        padding-left: 20px;

        padding-right: 20px;

    }

    .logo1{}

    .no{

        padding-top: 20px;

    }



    .bullets i {

        margin-right: 10px;

    }

    .person-pic{

        display: grid;

        place-items: center;

        align-items: center;

        justify-items: center;

    }

    .laptop{

        display: grid;

        place-items: center;

        align-items: center;

        justify-items: center;

    }





}



@media (max-width: 768px)  {



    .logo1{

        padding-top: 5px;

    }



    .text-uppercase{

        padding-top: 15px;

    }

    .bullets i {

        margin-right: 10px;

    }



}







/*  setting for small devices */

@media(min-width:576px){



    #cover {

        background: url("../img/fcover.jpg") center no-repeat ;

        height: 100%;

        width: 100%;

        background-size: cover;

        display: table;

    }



}

@media (max-width: 576px) {

    /* no.1 logo and phone */

    html, body{

        text-align: center;

    }

    #cover {

        background: url("../img/fcover.jpg") center no-repeat ;

        background-size: cover;

        width: 100%;

        height: 0 !important;

        display: table;

    }

    .heading{

        text-align: left;

    }

    .logo1 {

        display: block;

        margin-left: auto;

        margin-right: auto;

        width: 50%;

        padding-top: 10px;

    }

    .logo img{

        width: 30px;

    }

    .no {

        padding-bottom: 0px;

        padding-top: 10px;

        display: flex;

        align-items: center;

        justify-content: center;



    }.number{

         margin-bottom: 10px;

     }

    .number span{

        margin-right: 5px;

    }

    .number p {

        text-align: center;

    }

    /* no.2 cover and heading*/

    .heading{

        padding-left: 0;

    }

    .heading h1 {

        font-size: 35px;

    }

    .heading h2 {

        font-size: 20px;

    }

    .heading p {

        font-size: 12px;

    }

    /* mo.3 side details with person photo*/

    .details {

        padding-top: 15px;

    }

    /* no.4 middle section with center heading*/

    .middle {

        margin-bottom: 15px;

    }



    .laptop {

        margin-bottom: 15px;

    }

    /* no.5 laptop photo section with side details */

    .bullets i {

        margin-right: 10px;

    }





}

