body, html {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
background-color: #f4f4f4;
font-family: 'Hind Siliguri', sans-serif;
text-decoration: none;
}
/* no.1 logo and phone */
.head{
background-color: #ffffff;
}
.container {

max-width: 1349px;
}
.logo img {
width: 35px;
}
.number {
float: right;
color: #3489a0;
margin-bottom: 0px;
}
a:hover{
color: white;
}
.container-fluid {
padding-right: 0px;
padding-left: 0px;
}

/* no.2 cover and heading*/
#cover {
background: url("../img/icover.jpg") center center no-repeat;
height: 600px;
width: 100%;
background-size: cover;
display: table;
}
.heading{
display: table-cell;
vertical-align: middle;
/*    padding-left: 190px;*/
padding-top: 40px;
}
.heading h1 {
font-weight: 700;
font-size: 32px;
text-transform: uppercase;
color: #f4f4f4;
padding-bottom: 13px;
margin-bottom: 0px;
}
.heading p {
color: #f4f4f4;
font-weight: 300;
font-size: 14px;
margin-bottom: 10px;
}

/* no.5 Inventory transfer */
.middle {
background: url("../img/itrnscover.png") center center no-repeat;
height:60% ;
width: 100%;
position: relative;
background-size: cover;


}
.text{
padding-top: 3rem!important;

}
.text h3 {
font-weight: 700;
font-size: 32px;
color: white;
text-align: center;
}
.text p{
font-weight: 300;
font-size: 14px;
color: white;
text-align: center;
}

.transfer{
padding-top: 10px;
display: grid;
align-items: center;
justify-items: center;
position: absolute ;
top: 150px;
}
.transfer-pic{
width: 60%;
}

/* no.6 issues  */
.issues{
margin-top: 300px;
background: url("../img/issues.png") center center no-repeat;
height: 300px;
width: 100%;
background-size: cover;
display: table;

}
.text-issues{
display: table-cell;
vertical-align: middle;
}
.text-issues h3 {

font-weight: 700;
font-size: 32px;
color: #f0f0f0;
text-align: center;
}
.text-issues p{
font-weight: 300;
font-size: 25px;
color: #f0f0f0;
text-align: center;
}
/* no.7 footer */
.footer {
background-color: #1c7992;
color: white;


}
.footer , .bottom p{

color: white;
}
.footer h5{
border-bottom: 1px solid #4792a6;
padding-bottom: 10px;
font-weight: 300;
}
.about img {
padding-top: 25px;
padding-bottom: 25px;
}
.links a {
color: white;
line-height: 3;
}
.contact p {
line-height: 1;

}
.contact span{
margin-right: 5px;
}
.contact i ,a{
color: white;}
/* no.8 bottom */
.bottom {
background-color: #0f6d86;
color: white;
}
.bottom p{
font-weight: 400;
}
.footer p{
color: white;
font-weight: 400;
}


/* media queries */
@media (min-width: 991.98px){
/*.issues{*/
/*margin-top: 100px;*/

/*}*/
}
@media (max-width: 991.98px)  {
.issues{
margin-top: 100px;

}
.head{
padding-left: 20px;
padding-right: 20px;
}

.no{
padding-top: 20px;
}
.laptop{
display: grid;
place-items: center;
align-items: center;
justify-items: center;
}
/* bottom*/
.social img{
width: 33px;
padding-top: 8px;
}
.about p ,.contact p{
font-size: 12px;
}
.bottom p{
font-size: 11px;
}
}

@media (max-width: 768px)  {
.issues{
margin-top: 10px;

}
.logo1{
padding-top: 5px;
}

.text-uppercase{
padding-top: 15px;
}
.social img{
width: 33px;
padding-top: 8px;
}

.about p ,.contact p{
font-size: 12px;
}
}

/*  setting for small devices */
@media (max-width: 576px) {
/* no.1 logo and phone */
.logo1 {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
padding-top: 10px;
}
.logo img{
width: 30px;
}
.no {
padding-bottom: 0px;
padding-top: 10px;
display: flex;
align-items: center;
justify-content: center;

}.number{
margin-bottom: 10px;
}
.laptop {
padding-top: 15px;
margin-bottom: 15px;
}
.number span{
margin-right: 5px;
}
.number p {
text-align: center;
}
/* no.2 cover and heading*/
.heading{
padding-left: 36px;
}
.heading h1 {
font-size: 35px;
}
.heading p {
font-size: 12px;
}
.issues{
margin-top: 0;

}
.transfer{

top: 200px;
}
/* no.6 footer*/
.footer {
text-align: center;
}
.about {
padding-top: 15px;
}
.links ul {
padding-left: 0;
text-decoration: none;
}
.links ul li {
list-style-type: none;
}
.add{
line-height: 2;
}
/* no.7 bottom*/
.bottom P{
margin-bottom: 0px;
font-size:15px;
}
.social,
.copyright {
text-align: center;
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 10px;
}
}
