@import url("hover-min.css");

body, html {

width: 100%;

height: 100%;

margin: 0px;

padding: 0px;

overflow-x: hidden;

background-color: #f4f4f4;

font-family: 'Hind Siliguri', sans-serif;

text-decoration: none;

}

/* no.1 logo and phone */

.head{

background-color: #ffffff;

}

.logo img {

width: 35px;

}

.number {

float: right;

color: #3489a0;

margin-bottom: 0px;

}

a:hover{

color: white;

}



/* no.2 cover and heading*/

/**/

.heading{

display: table-cell;

vertical-align: middle;



}

.heading h1 {

font-weight: 600;

font-size: 45px;

text-transform: uppercase;

color: #f4f4f4;

padding-bottom: 13px;

margin-bottom: 0px;

}

.heading p {

color: #f4f4f4;

font-weight: 300;

font-size: 14px;

margin-bottom: 10px;

}

/* components */

.components-heading h5{

padding-top: 50px;

padding-bottom: 10px;

font-size: 28px;

text-align: center;

font-weight: 600;

color: #3489a0;



}

components-heading a{





}

.components{

        cursor: pointer;

background-color: white;

text-align: center;

display: grid;

justify-items: center;

align-items: center;

vert-align: middle;

padding-top: 1rem!important;

font-weight: 600;

border-radius: 10px;

margin-bottom: 10px;

font-size: 14px;

font-weight: bold;

text-decoration: none;

}

.components p{

padding-top: 10px;

margin-top: 16px;

color: black



}

.components-section{

margin-bottom: 100px;

}

.section h3{

color: #3489a0;

font-weight: 600;

margin-bottom: 0px;



}

.section p{



font-size: 14px;
    margin-top: 15px;



}

.section-details{



margin-left: 20px;

}



@media (max-width: 991.98px)  {

.head{

padding-left: 20px;

padding-right: 20px;

}



.no{

padding-top: 20px;

}



}

@media (min-width: 992px){



.col-lg-2 {

-ms-flex: 0 0 16.666667%;

flex: 0 0 14.666667%;

max-width: 16.666667%;

}

}

@media (max-width: 768px)  {



.logo1{

padding-top: 5px;

}



}

@media(min-width:576px){

    #cover {

        background: url("../img/pcover.jpg") center center no-repeat;

        height: 100%;

        width: 100%;

        background-size: cover;

        display: table;

    }

}

/*  setting for small devices */

@media (max-width: 576px) {

/* no.1 logo and phone */

    body{

        text-align: center;

    }

    #cover {

        background: url("../img/pcover.jpg") center center no-repeat;

        background-size: cover;

        width: 100%;

        height: 0 !important;

        display: table;

    }

.logo1 {

display: block;

margin-left: auto;

margin-right: auto;

width: 50%;

padding-top: 10px;

}

.logo img{

width: 30px;

}

.no {

padding-bottom: 0px;

padding-top: 10px;

display: flex;

align-items: center;

justify-content: center;



}

.number{

margin-bottom: 10px;

}

.number span{

margin-right: 5px;

}

.number p {

text-align: center;

}

/* no.2 cover and heading*/

.heading{

    text-align: left;

}

.heading h1 {

    padding-top: 10px;

padding-bottom: 0;

font-size: 30px;

}

.heading p {

font-size: 12px;

    padding-bottom: 10px;

}





}